<div class="row d-flex mx-0 mb-3">
  <a
    class="btn btn-sm btn-light-primary"
    data-bs-toggle="collapse"
    href="#{$element->getIdAttribute()}"
    role="button"
    aria-expanded="false"
    data-router-disabled
    ><i class="fas fa-plus"></i>
    {=_('More options')}
  </a>
</div>
<div class="collapse multi-collapse" id="{$element->getIdAttribute()}">
  <div class="row d-flex align-items-center mb-3">
    {foreach $element->getChilds() as $child}

    <div class="col-md">
      {include $child->getHtmlTemplate(), element => $child, iterator =>
      $iterator} {include $child->getHtmlTemplate(), element => $child}
    </div>

    {/foreach}
  </div>
</div>
