<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{if $element->allowClick}
<div n:tag="$element->getHtmlTag()" id="{$element->getIdAttribute()}">
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
  <span
    n:tag-if="$element->allowClick ? 'a' : 'span'"
    href="#!"
    n:attr="$element->getFormatedDataAttributes()"
    n:class="badge, $element->stringifyClasses()"
  >
    <i n:if="$element->icon" class="fas {$element->icon}"></i>
    {$element->text}
  </span>
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
