<div class="card card-flush shadow-sm card-rounded-10 p-2">
  <div class="card-header">
    <div class="d-flex align-items-center">
      <div class="flex-grow-1 pt-1">
        <h5 n:if="$element->title" class="title h5">{$element->title}</h5>
      </div>
    </div>
  </div>
  <div n:if="$element->content" class="card-body">
    <p>{$element->content}</p>
  </div>
</div>
