@import 'init';

@import 'components/components';

@import 'layout/layout';

@import './components/_variables.custom.scss';
@import './layout/_variables.custom.scss';

@import '../../node_modules/toastr2/dist/toastr.min.css';

@import '../../node_modules/animate.css/animate.compat.css';

@import '../css/components/HtmlElement.css';
@import '../css/components/HtmlFormElement.css';
@import '../css/components/HtmlInputElement.css';
@import '../css/components/button/Button.css';
@import '../css/components/calendar/Calendar.css';
@import '../css/components/chart/Chart.css';
@import '../css/components/diagram/Diagram.css';
@import '../css/components/draglist/Draglist.css';
@import '../css/components/flow/Flow.css';
@import '../css/components/form/Form.css';
@import '../css/components/form/Stepper.css';
@import '../css/components/form/elements/AddressElement.css';
@import '../css/components/form/elements/ButtonElement.css';
@import '../css/components/form/elements/CguElement.css';
@import '../css/components/form/elements/CheckboxElement.css';
@import '../css/components/form/elements/ColorpickerElement.css';
@import '../css/components/form/elements/DatatableElement.css';
@import '../css/components/form/elements/DateElement.css';
@import '../css/components/form/elements/DaterangeElement.css';
@import '../css/components/form/elements/DatetimeElement.css';
@import '../css/components/form/elements/DatetimerangeElement.css';
@import '../css/components/form/elements/EmailElement.css';
@import '../css/components/form/elements/FileinputElement.css';
@import '../css/components/form/elements/HiddenElement.css';
@import '../css/components/form/elements/MentionableElement.css';
@import '../css/components/form/elements/MultilistElement.css';
@import '../css/components/form/elements/MultipleemailElement.css';
@import '../css/components/form/elements/MultiselectElement.css';
@import '../css/components/form/elements/NumberElement.css';
@import '../css/components/form/elements/PasswordElement.css';
@import '../css/components/form/elements/PlurimultilistElement.css';
@import '../css/components/form/elements/SelectElement.css';
@import '../css/components/form/elements/SignatureElement.css';
@import '../css/components/form/elements/SliderElement.css';
@import '../css/components/form/elements/StaticElement.css';
@import '../css/components/form/elements/SwitchElement.css';
@import '../css/components/form/elements/TextareaElement.css';
@import '../css/components/form/elements/TextElement.css';
@import '../css/components/form/elements/TagElement.css';
@import '../css/components/form/elements/TimeElement.css';
@import '../css/components/form/elements/TimerangeElement.css';
@import '../css/components/label/Label.css';
@import '../css/components/menu/Menu.css';
@import '../css/components/modal/Modal.css';
@import '../css/components/progressBar/ProgressBar.css';
@import '../css/components/tables/datatable/Datatable.css';
@import '../css/components/tables/pillsTable/PillsTable.css';
@import '../css/components/tour/BootstrapTour.css';
@import '../css/components/treeview/Treeview.css';
@import '../css/components/timeline/Timeline.css';

@import './plugins.scss';
@import '../css/style.css';

// Base
.toast {
  transition: $transition-base;
  background-position: 1.5rem center #{'/*rtl:calc(100% - 1.5rem) center*/'} !important;
  box-shadow: $dropdown-box-shadow !important;
  border-radius: $dropdown-border-radius !important;
  border: 0 !important;
  background-color: $gray-100;
  color: $gray-700;
  opacity: 0.75 !important;
  padding: 1.25rem 1.25rem 1.25rem 4.5rem !important;

  &:hover {
    transition: $transition-base;
    opacity: 1 !important;
  }

  .toast-close-button {
    outline: none !important;
    font-size: 0;
    width: 0.85rem;
    height: 0.85rem;
  }

  // Title
  .toast-title {
    font-size: 1.15rem;
    font-weight: $font-weight-bold;

    & + .toast-message {
      margin-top: 0.25rem;
    }
  }

  // Message
  .toast-message {
    font-size: 1rem;
    font-weight: $font-weight-normal;
  }

  // States
  &.toast-success {
    background-color: $success;
    color: $success-inverse;

    .toast-close-button {
      @include svg-bg-icon(close, $success-inverse);
    }
  }

  &.toast-info {
    background-color: $info;
    color: $info-inverse;

    .toast-close-button {
      @include svg-bg-icon(close, $info-inverse);
    }
  }

  &.toast-warning {
    background-color: $warning;
    color: $warning-inverse;

    .toast-close-button {
      @include svg-bg-icon(close, $warning-inverse);
    }
  }

  &.toast-error {
    background-color: $danger;
    color: $danger-inverse;

    .toast-close-button {
      @include svg-bg-icon(close, $danger-inverse);
    }
  }
}

//Aside overflow
.aside .aside-primary {
  overflow-y: auto;
  overflow-x: hidden;
}

.page-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $body-bg;
  z-index: 2;
  cursor: wait;
}

.animate__animated.animate__fadeOut {
  --animate-duration: 3s;
}
