{layout "../layout/layout.page.html"}{var $pageCss = "container pt-10"} {block
pageBody} {if isset($HTML_COMPONENTS)} {if isset($HTML_COMPONENTS['modals'])}

<!-- START MODALS -->
{foreach $HTML_COMPONENTS['modals'] as $element} {if
!$element->hasParent()}{include $element->getHtmlTemplate(), element =>
$element, modalType => "modal-lg"}{/if} {/foreach}
<!-- END MODALS -->
{/if}{/if}
<!--Section: Features-->
<section id="features">
  <!--Grid row-->
  <div class="row p-8">
    <div class="col text-center">
      <h1>{=_("Discover a new method of collaborative work")}</h1>
      <p>
        {=_("Allteam centralizes all information related to the production and
        organization of events.")}
      </p>
    </div>
  </div>

  <div class="row p-8">
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-list-alt text-primary fa-4x", titleCss => "fw-bolder p-8", bodyCss
      => "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("All in one")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Forget all your tools and work with a complete
      solution")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-road text-primary fa-4x", titleCss => "fw-bolder p-8", bodyCss =>
      "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("Here and there")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Manage your productions from your smartphone in all
      circumstances")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-clipboard-list text-primary fa-4x", titleCss => "fw-bolder p-8",
      bodyCss => "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("Global customization")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Manage platform access and create custom accounts")}
      {/block}
      <!-- Body end-->
      {/embed}
    </div>
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-cloud-download-alt text-primary fa-4x", titleCss => "fw-bolder
      p-8", bodyCss => "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("Secure cloud")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Find and share all your documents from your secure
      cloud")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
  </div>

  <div class="row p-8">
    {include "../blocks/block.video.html", source =>
    "/videos/video-allteam-event-project-manager.mp4", type =>"video/mp4"}
  </div>

  <div class="row p-4 pb-20">
    <div class="col text-center">
      <a
        class="btn btn-light-primary"
        data-router-disabled
        data-scroll="#infos"
      >
        {=_("More")}
      </a>
    </div>
  </div>
</section>
<!--Section: Features-->

<!--Section: Infos-->
<section id="infos">
  <!--Grid row-->

  <div class="row p-8">
    <div class="col text-center">
      <h2>{=_("A tool designed by professionals")}</h2>
      <p>
        {=_("Allteam is developed in close collaboration with the entertainment
        partners to offer you a solution that meets the needs of the event
        sector")}
      </p>
    </div>
  </div>

  <div class="row p-8">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 p-4">
          {embed "../layout/layout.component.html", cardCss => "h-100", subIcon
          => "fas fa-cubes text-primary fa-4x", titleCss => "fw-bolder p-8",
          bodyCss => "text-center"}
          <!-- Title start -->
          {block cardTitle} {=_("Technical direction")} {/block}
          <!-- Title end -->
          <!-- Body start-->
          {block cardText} {=_("Manage your stock of equipment, generate rental
          quotations, simplify the hiring of technical staff and planning
          editing")} {/block}
          <!-- Body end-->
          {/embed}
        </div>

        <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 p-4">
          {embed "../layout/layout.component.html", cardCss => "h-100", subIcon
          => "fas fa-users text-primary fa-4x", titleCss => "fw-bolder p-8",
          bodyCss => "text-center"}
          <!-- Title start -->
          {block cardTitle} {=_("Public management")} {/block}
          <!-- Title end -->
          <!-- Body start-->
          {block cardText} {=_("Discover an inovating ticketing system
          integrating a transport management and accommodation management")}
          {/block}
          <!-- Body end-->
          {/embed}
        </div>
      </div>
    </div>
    <div
      n:ifset="$UNIQUE_COMPONENTS['#home_carousel_container']"
      class="col-md-4 col-md-pull-4"
      id="home_carousel_container"
    >
      {foreach $UNIQUE_COMPONENTS['#home_carousel_container'] as $child}
      {include $child->getHtmlTemplate(), element => $child, iterator =>
      $iterator} {/foreach}
    </div>
    <div class="col-md-4 col-md-push-4">
      <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 p-4">
          {embed "../layout/layout.component.html", cardCss => "h-100", subIcon
          => "fas fa-rocket text-primary fa-4x", titleCss => "fw-bolder p-8",
          bodyCss => "text-center"}
          <!-- Title start -->
          {block cardTitle} {=_("Project management")} {/block}
          <!-- Title end -->
          <!-- Body start-->
          {block cardText} {=_("Forget your usual paper roadmap, and switch to a
          dynamic roadmap that is continually updated and editable by your
          employees under your control")} {/block}
          <!-- Body end-->
          {/embed}
        </div>

        <div class="col-md-12 col-sm-6 col-xs-6 col-xxs-12 p-4">
          {embed "../layout/layout.component.html", cardCss => "h-100", subIcon
          => "fas fa-truck text-primary fa-4x", titleCss => "fw-bolder p-8",
          bodyCss => "text-center"}
          <!-- Title start -->
          {block cardTitle} {=_("Provider management")} {/block}
          <!-- Title end -->
          <!-- Body start-->
          {block cardText} {=_("Invite all your partners on Allteam, and give
          them access only to essential information")} {/block}
          <!-- Body end-->
          {/embed}
        </div>
      </div>
    </div>
  </div>

  <div class="row p-4 pb-20">
    <div class="col text-center">
      <a
        class="btn btn-light-primary"
        data-router-disabled
        data-scroll="#services"
      >
        {=_("More")}
      </a>
    </div>
  </div>
</section>

<!--Section: services-->
<section id="services">
  <!--Grid row-->
  <div class="row p-8">
    <div class="col text-center">
      <h2>{=_("Our services")}</h2>
      <p>
        {=_("Discover all our services to facilitate the organization of your
        events")}
      </p>
    </div>
  </div>
  <div class="row p-8">
    <div class="col">
      {embed "../layout/layout.component.html", topImage =>
      "/images/Coordo-1.jpg" , alt => "Coordination technique - Trickscénique",
      cardCss => "h-100", titleCss => "fw-bolder p-8", bodyCss => "text-center",
      link => _("More"), href =>
      "https://trickscenique.fr/coordination-technique/", linkCss => "
      btn-light-primary"}
      <!-- Title start -->
      {block cardTitle} {=_("Technical coordination")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Surround yourself with our versatile team to ensure
      the success of all your productions")} {/block}
      <!-- Body end-->
      {/embed}
    </div>

    <div class="col">
      {embed "../layout/layout.component.html", topImage =>
      "/images/Coordo-1.jpg" , alt => "Coordination technique - Trickscénique",
      cardCss => "h-100", titleCss => "fw-bolder p-8", bodyCss => "text-center",
      link => _("More"), href =>
      "https://trickscenique.fr/coordination-technique/", linkCss => "
      btn-light-primary"}
      <!-- Title start -->
      {block cardTitle} {=_("Technical coordination")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Surround yourself with our versatile team to ensure
      the success of all your productions")} {/block}
      <!-- Body end-->
      {/embed}
    </div>

    <div class="col">
      {embed "../layout/layout.component.html", topImage =>
      "/images/Coordo-1.jpg" , alt => "Coordination technique - Trickscénique",
      cardCss => "h-100", titleCss => "fw-bolder p-8", bodyCss => "text-center",
      link => _("More"), href =>
      "https://trickscenique.fr/coordination-technique/", linkCss => "
      btn-light-primary"}
      <!-- Title start -->
      {block cardTitle} {=_("Technical coordination")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Surround yourself with our versatile team to ensure
      the success of all your productions")} {/block}
      <!-- Body end-->
      {/embed}
    </div>

    <div class="col">
      {embed "../layout/layout.component.html", topImage =>
      "/images/Coordo-1.jpg" , alt => "Coordination technique - Trickscénique",
      cardCss => "h-100", titleCss => "fw-bolder p-8", bodyCss => "text-center",
      link => _("More"), href =>
      "https://trickscenique.fr/coordination-technique/", linkCss => "
      btn-light-primary"}
      <!-- Title start -->
      {block cardTitle} {=_("Technical coordination")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Surround yourself with our versatile team to ensure
      the success of all your productions")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
  </div>
  <div class="row p-4 pb-20">
    <div class="col text-center">
      <a class="btn btn-light-primary" data-router-disabled data-scroll="#keys">
        {=_("More")}
      </a>
    </div>
  </div>
</section>
<!--Section: services-->

<!--Section: benefits-->
<section id="keys">
  <!--Grid row-->
  <div class="row p-8">
    <div class="col text-center">
      <h2>{=_("Key points of Allteam")}</h2>
    </div>
  </div>
  <div class="row p-8">
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-desktop text-primary fa-4x", titleCss => "fw-bolder p-8", bodyCss
      => "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("Multi-plateform")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Works on all mobile or desktop platforms")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-calendar-check text-primary fa-4x", titleCss => "fw-bolder p-8",
      bodyCss => "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("Automatic reminder system")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Configure your dynamic back-planning / process do
      not forget any deadlines")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-calendar-check text-primary fa-4x", titleCss => "fw-bolder p-8",
      bodyCss => "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("Increase Productivity")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Forget repetitive tasks, create your templates types
      of events and save valuable time")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
  </div>
  <div class="row p-8">
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-file text-primary fa-4x", titleCss => "fw-bolder p-8", bodyCss =>
      "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("Generating documents")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Tired of editing synthetic documents? Use our simple
      interface and automatically generate documents for each of your
      partners")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-database text-primary fa-4x", titleCss => "fw-bolder p-8", bodyCss
      => "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("Databases management")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Forget your multiple files and gather all your
      databases on the platform: customers, people receiving benefits,
      employees, rooms, places of accommodation, carriers, equipment… and
      more!")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
    <div class="col">
      {embed "../layout/layout.component.html", cardCss => "h-100", subIcon =>
      "fas fa-lock text-primary fa-4x", titleCss => "fw-bolder p-8", bodyCss =>
      "text-center"}
      <!-- Title start -->
      {block cardTitle} {=_("Your secure data")} {/block}
      <!-- Title end -->
      <!-- Body start-->
      {block cardText} {=_("Keep all your documents in our secure cloud. We
      undertake not to collect any information")} {/block}
      <!-- Body end-->
      {/embed}
    </div>
  </div>

  <div class="row p-4 pb-20"></div>
</section>

<section>
  <div class="row p-8 mb-20 rounded bg-white shadow-sm">
    <div class="col text-center">
      <h2>{=_("Try for free our app now!")}</h2>
      <p>
        {=_("After your registration, you will be contacted by one of our
        trainers to introduce you to Allteam")}
      </p>
      <p>
        <button
          id="btn-subscribe"
          class="subscribe-button btn btn-light-success animate__delay-2s animate__animated animate__fadeInUpBig pulse pulse-primary"
          data-bs-target="#modal_create_subscribe"
          data-bs-toggle="modal"
        >
          {=_("Get start now !")}
          <span class="pulse-ring invisible"></span>
        </button>
      </p>
    </div>
  </div>
</section>

<!--Section: faq-->
<section class="animate__animated animate__delay-2s animate__fadeIn" id="faq">
  <div class="row p-8">
    <div class="col text-center">
      <h2>F.A.Q</h2>
    </div>
  </div>

  <div class="row p-8">
    <div class="col">{include "../blocks/block.faq.html"}</div>
  </div>
</section>
<!--Section: faq-->
{/block}
