{varType core\html\modal\Modal $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div
  n:tag="!is_bool($element->getHtmlTag()) ? $element->getHtmlTag() : 'div'"
  n:class="$element->isAutoshow() ? tss-auto-show, modal, notPrevented, $element->stringifyClasses()"
  id="{$element->getIdAttribute()}"
  role="dialog"
  aria-labelledby="{$element->getIdAttribute()}"
  data-bs-keyboard="false"
  data-bs-focus="false"
  data-bs-backdrop="static"
>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
  <div n:class="$modalType ?? modal-xl, modal-dialog">
    <div class="modal-content shadow-none">
      <div class="modal-overlay"></div>

      {foreach $element->getChilds() as $child} {include
      $child->getHtmlTemplate(), element => $child, iterator => $iterator}
      {/foreach}

      <div><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
    </div>
  </div>
  <!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
</div>
