{foreach get_object_vars($element) as $row}
<p n:if="is_string($row)">{$row}</p>
<div class="text-center" n:if="is_object($row)">
  {include $row->getHtmlTemplate(), element => $row}
</div>
{/foreach}
