<a
  n:if="$element->hasChild()"
  n:class="list-group-item, list-group-item-action, $element->stringifyClasses()"
  data-bs-toggle="collapse"
  href="#{$element->getIdAttribute()}"
  role="button"
  aria-expanded="false"
  aria-controls="{$element->getIdAttribute()}"
  data-router-disabled
>
  <i class="fas fa-plus-circle"></i>
  {$element->getTitle()}
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</a>
<div
  id="{$element->getIdAttribute()}"
  class="collapse card card-flush card-rounded-10"
>
  <div class="card-body" n:ifcontent>
    {foreach $element->getChilds() as $child} {include
    $child->getHtmlTemplate(), element => $child, iterator => $iterator, level
    => 1} {/foreach}
  </div>
</div>
