<a
  n:tag-if="$element->hasChild()"
  data-bs-toggle="collapse"
  href="#{$element->getIdAttribute()}"
  role="button"
  aria-expanded="false"
  aria-controls="{$element->getIdAttribute()}"
  ><h5 n:ifcontent n:class="h5 , mb-3, 'px-'.($level*2)">
    <i class="fas fa-plus-circle" n:if="$element->hasChild()"></i>
    {$element->getTitle()}
    <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i></h5
></a>

<div id="{$element->getIdAttribute()}" class="collapse" n:ifcontent>
  {foreach $element->getChilds() as $child}
  <p
    n:class="'px-'.($level*2+2)"
    n:if="get_class($child) === 'core\html\HtmlElement'"
  >
    {$child->content}
  </p>
  <div n:if="get_class($child) !== 'core\html\HtmlElement'">
    {include $child->getHtmlTemplate(), element => $child, level => ($level+1)}
  </div>
  {/foreach}
</div>
