
<?php /** @var core\extensions\ExtensionInterface $extension */ ?>

<h1>Extensions loaded</h1>

<div class="tracy-inner">
<div class="tracy-inner-container">
	<table class="tracy-sortable">

		<tr>
            <th>Extensions</th>
            <th>Installed</th>
            <th>Enabled</th>
            <th>Controllers</th>
            <th>Models</th>
            <th>Listeners</th>
            <th>Entities</th>
		<tr>
        <?php foreach ($extensions as $name => $extension): ?>
		<tr>
			<td>
            <?= $name ?>
			</td>

			<td>
            <?= $extension->isInstalled() ? _('Installed') : _('Not installed')?>
			</td>
			<td>
            <?= $extension->isEnabled() ? _('Enabled') : _('Disabled') ?>
			</td>
            <td>

                <?php foreach ($extension->getControllers() as $controller): ?>
                    <?= $controller ?><br>
                <?php endforeach ?>

			</td>
            <td>

                <?php foreach ($extension->getModels() as $model): ?>
                    <?= $model ?><br>
                <?php endforeach ?>

			</td>
            <td>

                <?php foreach ($extension->getListeners() as $listener): ?>
                    <?= $listener ?><br>
                <?php endforeach ?>

			</td>
            <td>
                <?php if ($extension->getEntities() !== null) { ?>
                <?php foreach ($extension->getEntities() as $entitie): ?>
                    <?= $entitie ?><br>
                <?php endforeach ?>
                <?php } ?>

			</td>
		</tr>
        <?php endforeach ?>

	</table>

</div>
</div>
