{layout '../../layout/layout.component.html'} {varType core\html\gantt\Gantt
$element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]} {var
$enableSpinner = true}{var $toolbar = $element->getActionBar()} {block
cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
>
  {$element->getTitle()}
</div>
{/block} {block cardBody}
<div n:tag="$element->getHtmlTag()" id="{$element->getIdAttribute()}">
  <svg
    class="{$element->stringifyClasses()}"
    id="{$element->getIdAttribute()}_wrapper"
  ></svg>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
</div>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
