@charset "UTF-8";
//
//To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

@import '../../../node_modules/bootstrap/scss/mixins/_border-radius.scss';

// Theme colors
// Primary
$primary: #37649f;
$primary-active: #2a4a75;
$primary-light: #bcd1ed;
$primary-inverse: #ffffff;

// Success
$success: #20d489;
$success-active: #19b674;
$success-light: #e7f6ff;
$success-inverse: #ffffff;

// Info
$info: #00a3ff;
$info-active: #008bd9;
$info-light: #f6f1fc;
$info-inverse: #ffffff;

// Danger
$danger: #f1416c;
$danger-active: #d9214e;
$danger-light: #ffeff3;
$danger-inverse: #ffffff;

// Warning
$warning: #ffc700;
$warning-active: #f1bc00;
$warning-light: #fff8dd;
$warning-inverse: #ffffff;

// Border Radiues
$border-radius-sm: 0.3rem;
$border-radius: 0.65rem;
$border-radius-lg: 0.85rem;
$border-radius-xl: 1.25rem;

// Card Box Shadow
$card-box-shadow: 0px 0px 20px 0px rgba(76, 87, 125, 0.02);

// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-negative-margins: true !default;
$enable-smooth-scroll: false !default;

$blue: #2a4a75;

// Input group border radius
.input-group .form-control {
  &:not(:last-child) {
    @include border-start-radius(0);
  }
  &:not(:first-child) {
    @include border-end-radius(0);
  }
}

// Input group border radius
.input-group .form-select {
  &:not(:last-child) {
    @include border-end-radius(0);
  }
}

//Fix stack
$modal-backdrop-opacity: 0;
$modal-content-bg: #fbf9f6;
