t-modal:not(:defined) {
}

.modal-overlay {
  background-color: #fbf9f6;
  height: 200%;
  width: 200%;
  position: fixed;
  left: -100%;
  top: -100%;
}

/* Modal stack */
.modal-boxed {
  position: relative !important;
  left: unset !important;
  overflow-y: scroll !important;
}

.modal-boxed::-webkit-scrollbar {
  display: none; /* Safari and Chrome browsers */
}

.modal {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* mozilla */
}

.modal-backdrop {
  z-index: -1 !important;
  display: none !important;
}

.modal-xl {
  max-width: 100% !important;
}

.modal-backdrop.fade {
  opacity: 0 !important;
}
.modal:nth-of-type(even) {
  z-index: 1062 !important;
}
.modal.show:nth-of-type(even) {
  z-index: 1061 !important;
}

.modal-dialog {
  height: 100vh !important;
}

.modal-content {
  height: 100vh !important;
}

.aside {
  z-index: 1070 !important;
}

.card-header {
  background-color: #fff !important;
}
.modal-backdrop {
  z-index: 1;
}

.modal-open .navbar.fixed-top {
  display: none;
}
