<?php
declare(strict_types=1);

namespace Nette\Bridges\DatabaseTracy;

?>

<h1>Registred Routes</h1>

<div class="tracy-inner">
<div class="tracy-inner-container">
	<table class="tracy-sortable">
    <tr>
        <td>Method</td>
        <td>Endpoint</td>
        <td>Permission</td>
        <td>Target</td>
    </tr>


    <?php foreach ($routes as $routed): ?>
        <?php foreach ($routed as $route): ?>

    <tr>
        <td>
            <?= $route->getMethod() ?>
        </td>
        <td>
            <?= $route->getPattern() ?>
        </td>
        <td>
            <?= $route->getPermissionSet()->getName() ?>
        </td>
        <td>
            <?= $route->getControllerSignature() ?>
        </td>
    </tr>

    <?php endforeach ?>
    <?php endforeach ?>

	</table>

</div>
</div>
