<?php
declare(strict_types=1);

namespace Nette\Bridges\DatabaseTracy;

?>

<h1>Dependency container</h1>

<div class="tracy-inner">
<div class="tracy-inner-container">
	<table class="tracy-sortable">

		<tr>
            <th>Class</th>
            <th>Reference</th>
		<tr>
        <?php foreach ($objects as  $object): ?>
		<tr>
			<td>
            <?= get_class($object) ?>
			</td>

			<td>
            <?= spl_object_id($object) ?>
			</td>

		</tr>
        <?php endforeach ?>

	</table>


    <table class="tracy-sortable">

		<tr>
            <th>Variable</th>
            <th>Value</th>
		<tr>
        <?php foreach ($affectations as  $key => $value): ?>
		<tr>
			<td>
            <?= $key ?>
			</td>

			<td>
            <?= $value ?>
			</td>

		</tr>
        <?php endforeach ?>

	</table>

    <table class="tracy-sortable">

		<tr>
            <th>Interface</th>
            <th>Implementation</th>
		<tr>
        <?php foreach ($mapping as  $key => $value): ?>
		<tr>
			<td>
            <?= $key ?>
			</td>

			<td>
            <?= $value ?>
			</td>

		</tr>
        <?php endforeach ?>

	</table>

</div>
</div>
