{layout '../../../layout/layout.component.html'} {varType
core\html\table\tablestriped\Tablestriped $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]} {block
cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
>
  {$element->getTitle()}
</div>
{/block} {block cardBody}
<div class="table-responsive">
  <table
    class="
      table table-rounded table-striped
      border
      table-row-dashed table-row-gray-300 table-hover
      align-middle
    "
  >
    <thead class="table-light text-center">
      <tr>
        {foreach $element->getThead() as $title}
        <th scope="col">{$title}</th>
        {/foreach}
      </tr>
    </thead>
    <tbody>
      {foreach $element->getChilds() as $child}

      <tr>
        {include $child->getHtmlTemplate(), element => $child, iterator =>
        $iterator}
      </tr>
      {/foreach}
    </tbody>
    <tfoot class="table-light text-muted text-center">
      <tr>
        {foreach $element->getThead() as $cell}

        <th scope="col" n:if="is_string($cell)">
          <span>{$cell}</span>
        </th>
        {/foreach}
      </tr>
    </tfoot>
  </table>
</div>
{/block}

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
