{foreach get_object_vars($element) as $row}
<th scope="row" n:if="is_string($row)">{$row}</th>
<th scope="row" class="text-center" n:if="is_object($row)">
  {include $row->getHtmlTemplate(), element => $row}
</th>
{/foreach}
