{varType core\html\form\Form $element}
<form
  id="{$element->getIdAttribute()}_input"
  class="form-simple needs-validation {$element->stringifyClasses()}"
  novalidate
  action="{$element->getAction()}"
  title="{$element->getTitle()}"
  method="{$element->getMethod()}"
  enctype="multipart/form-data"
>
  <input
    form="{$element->getIdAttribute()}"
    type="hidden"
    id="ORIGIN_{$element->getIdAttribute()}"
    name="ORIGIN"
  />
  <th class="m-0" data-nofilter="true">
    <button
      form="{$element->getIdAttribute()}"
      type="submit"
      n:class="!$element->isEnabled() ? disabled, form-control, btn, px-3, m-1,  btn-light-success, btn-sm, pulse, pulse-primary,
			 {$element->getIdAttribute()}"
      id="submit-{$element->getIdAttribute()}"
      name="{$element->getIdAttribute()}"
      value="{$element->getIdAttribute()}"
    >
      <i class="fas fa-plus"></i>
      <span class="pulse-ring invisible"></span>
    </button>
  </th>

  <!-- Fix Bug " transmit in beginning request datas start -->
  <input
    form="{$element->getIdAttribute()}"
    type="hidden"
    name="initialInput"
  />
  <!-- Fix Bug " transmit in beginning request datas end-->
  <input
    form="{$element->getIdAttribute()}"
    id="_method_{$element->getIdAttribute()}"
    type="hidden"
    value="{$element->getApiMethod()}"
  />
  <input
    n:if="$CSRF"
    form="{$element->getIdAttribute()}"
    type="hidden"
    name="{$CSRF['name']}"
    value="{$CSRF['value']}"
  />

  {foreach $element->getChilds()(->findByParameters(["name" =>
  $table->getRealColumnsNames()]) as $child} {if $child->getType() === "hidden"}
  {include $child->getHtmlTemplate(), element => $child, inline => true} {else}
  <th class="m-0" data-nofilter="true">
    {include $child->getHtmlTemplate(), element => $child, inline => true}
  </th>
  {/if} {/foreach}

  <input
    form="{$element->getIdAttribute()}"
    type="hidden"
    class="validator"
    id="{$element->getIdAttribute()}_validate"
  />
</form>
