{layout "Form.html"} {varType core\html\form\Form $element} {block
componentHeaderContents}
<h5 class="title h5">{$element->getTitle()}</h5>
<img class="img-responsive" src="/ressources/accepted_c22e0.png" />
{/block} {block componentHeaderAppend}{/block}
<div class="card-body">
  {block formTopMessage}
  <div id="stripe-top-alerte-container">
    {if $element->getAlerte() !== null} {var $alerte = $element->getAlerte()}

    <div
      id="{$element->getIdAttribute()}_alerte"
      class="alert alert-{$element->getAlerte()['type']}"
      n:if="$element->getAlerte()"
    >
      {$element->getAlerte()['content']}
      <button
        type="button"
        class="close btn_delete_stripe pulse pulse-primary"
        data-idstripe="/deleteSource"
        data-apiRessource="stripe"
        data-target="form_delete_stripe"
        data-apiMethod="POST"
      >
        <span aria-hidden="true">&times;</span>
        <span class="pulse-ring invisible"></span>
      </button>
    </div>

    {/if}
  </div>
  {/block} {block formOpenTag}
  <form
    id="{$element->getIdAttribute()}_input"
    method="post"
    class="form-simple"
  >
    {/block} {block formFields}
    <div class="row">
      <div class="col-md">
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <div class="col-md">
          <div id="card-errors" role="alert"></div>
        </div>
      </div>
      <div class="col-lg-3">
        <button
          form="{$element->getIdAttribute()}"
          type="submit"
          n:class="!$element->isEnabled() ? disabled, form-control, btn, px-3, m-1,  btn-light-success, btn-sm, pulse, pulse-primary,
			 {$element->getIdAttribute()}"
          id="submit-{$element->getIdAttribute()}"
          name="{$element->getIdAttribute()}"
          value="{$element->getIdAttribute()}"
        >
          <i class="fas fa-check"> </i
          ><span class="hide-litle-screen">{$element->getValue()}</span>
          <span class="pulse-ring invisible"></span>
        </button>
      </div>
    </div>
    {block} {block formFooter}{/block} {block formCloseTag}
  </form>
  {/block}
</div>
