{layout '../../blocks/header.htmlComponent.html'} {varType core\html\form\Form
$element} {block componentHeaderAppend}
<div class="flex-shrink-1" n:if="$element->getSwitchGroup()">
  <!-- TODO Replace by a sub template start -->
  <div class="form-check form-switch form-check-custom form-check-solid">
    <label
      class="form-check-label"
      for="mainSwitch-{$element->getIdAttribute()}"
    >
      {$element->getSwitchGroup()[1]["name"]}
      <i class="fas {$element->getSwitchGroup()[1]['icon']}"></i>
    </label>

    <i class="fas {$element->getSwitchGroup()[0]['icon']}"></i>
    {$element->getSwitchGroup()[0]["name"]}
    <input
      class="form-check-input switchField mainSwitch"
      type="checkbox"
      form="{$element->getIdAttribute()}"
      id="mainSwitch-{$element->getIdAttribute()}"
      value="0"
    />
  </div>
  <!-- TODO Replace by a sub template End -->
</div>

<div class="flex-shrink-1">
  <div class="btn-group">
    <button
      form="{$element->getIdAttribute()}"
      type="submit"
      n:class="!$element->isEnabled() ? disabled,
      form-control,
      btn,
      px-3,
      m-1,
       btn-light-success,
      btn-sm, pulse, pulse-primary,
      $element->getIdAttribute()"
      id="submit-{$element->getIdAttribute()}"
      name="{$element->getIdAttribute()}"
      value="{$element->getIdAttribute()}"
    >
      <i class="fas fa-check"> </i
      ><span class="hide-litle-screen">{$element->getValue()}</span>
      <span class="pulse-ring invisible"></span>
    </button>
  </div>
</div>
{/block}
