{layout '../../layout/layout.component.html'} {varType core\html\form\Form
$element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]} {var
$toolbarCss = "d-flex align-items-center"} {var $enableSpinner = true} {var
$toolbar = $element->getActionBar()} {var $formElementParentCss = "mb-3"} {block
cardPrepend}

<form
  is="{$element->getHtmlTag()}"
  id="{$element->getIdAttribute()}"
  class="{$element->stringifyClasses()}"
  novalidate
  action="{$element->getAction()}"
  title="{$element->getTitle()}"
  method="{$element->getMethod()}"
  enctype="multipart/form-data"
>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
  {/block} {block cardHeader} {block formTitle}
  <div
    class="card-title flex-fill text-muted fw-bolder text-uppercase"
    n:ifcontent
  >
    {$element->getTitle()}
  </div>
  {/block} {block formSwitch}
  <div class="p-2" n:if="$element->getSwitchGroup()">
    <div class="form-check form-switch form-check-custom form-check-solid">
      <span class="text-muted"
        ><i class="fas {$element->getSwitchGroup()[0]['icon']}"></i>
        {$element->getSwitchGroup()[0]["name"]}</span
      >
      <input
        class="form-switch form-check-input m-2"
        type="checkbox"
        form="{$element->getIdAttribute()}"
        id="mainSwitch-{$element->getIdAttribute()}"
        value="0"
      /><span class="text-muted">
        <i class="fas {$element->getSwitchGroup()[1]['icon']}"></i>
        {$element->getSwitchGroup()[1]["name"]}</span
      >
    </div>
  </div>
  {/block} {/block} {block cardToolbar} {block formSubmitButton}
  <div
    class="p-2"
    data-bs-toggle="tooltip"
    data-bs-placement="left"
    data-bs-dismiss="click"
    n:attr="title => $element->isDisabled() ? _('You are not allowed')"
  >
    <button
      form="{$element->getIdAttribute()}"
      type="submit"
      n:class="!$element->isEnabled() ? disabled,
      btn,
       btn-light-success,
      btn-sm, pulse, pulse-success"
      name="{$element->getIdAttribute()}"
      value="{$element->getIdAttribute()}"
    >
      <span class="indicator-label">
        <i n:class="fas, $element->getIcon() ?? 'fa-check'"> </i
        ><span> {$element->getValue()}</span>
      </span>

      <span class="indicator-progress">
        {=_('Please wait...')}
        <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
      </span>
      <span class="pulse-ring invisible"></span>
    </button>
  </div>
  {/block} {/block} {block cardBody} {block formLocker}
  <div id="{$element->getIdAttribute()}_locked"></div>
  {/block} {block formTopMessage}
  <div
    id="{$element->getIdAttribute()}_alerte"
    class="alert alert-{$element->getAlerte()['type']}"
    n:if="$element->getAlerte()"
  >
    {$element->getAlerte()['content']}
  </div>
  {/block}

  <input
    form="{$element->getIdAttribute()}"
    type="hidden"
    id="ORIGIN_{$element->getIdAttribute()}"
    name="ORIGIN"
  />
  <!-- Fix Bug " transmit in beginning request datas start -->
  <input
    form="{$element->getIdAttribute()}"
    type="hidden"
    name="initialInput"
  />
  <!-- Fix Bug " transmit in beginning request datas end-->
  <input
    form="{$element->getIdAttribute()}"
    id="_method_{$element->getIdAttribute()}"
    type="hidden"
    value="{$element->getApiMethod()}"
  />

  {block formCsrf}
  <input
    n:ifset="$CSRF"
    form="{$element->getIdAttribute()}"
    type="hidden"
    name="{$CSRF['name']}"
    value="{$CSRF['value']}"
  />
  {/block}
  <div class="text-black-50">
    {block formFields} {foreach $element->getChilds() as $child} {if
    !$element->getKeepOpen() || $element->getKeepOpen()->getName() !==
    $child->getName()} {if !$element->isInsideContainer()}{include
    $child->getHtmlTemplate(), element => $child, iterator => $iterator}{/if}
    {/if} {/foreach} {/block}
  </div>
  {block formCaptcha}
  <div class="row" n:if="$element->getCaptcha()">
    <input
      form="{$element->getIdAttribute()}"
      type="hidden"
      class="validator"
      id="{$element->getIdAttribute()}_validate"
    />
  </div>
  {/block} {/block} {block formBottomMessage}
  <div class="text-center" n:ifcontent>{$element-> getBottomMessage()}</div>
  {/block} {block cardFooter} {block formFooter}
  <div
    class="d-flex text-black-50 justify-content-between align-items-center"
    n:ifcontent
  >
    <div n:if="$element->getKeepOpen()" class="p-2">
      {include $element->getKeepOpen()->getHtmlTemplate(), element =>
      $element->getKeepOpen()}
    </div>
  </div>
  {/block} {/block} {block cardAppend}
</form>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
