{layout '../../layout/layout.component.html'}{varType core\html\form\Stepper
$element}

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $enableSpinner => true} {block cardHeader}
<div class="light-font">
  <nav aria-label="breadcrumb">
    <ol
      id="breadcumb-{$element->getIdAttribute()}"
      class="breadcrumb grey lighten-5"
    >
      {foreach $element->getChilds() as $child}
      <li n:class="$key ? active, breadcrumb-item">
        <a
          id="link-{$child->getIdAttribute()}"
          href="#collapse-{$child->getIdAttribute()}"
          data-bs-toggle="collapse"
          aria-expanded="{$iterator->isFirst}"
          aria-controls="collapse-{$child->getIdAttribute()}"
          >{$child->getTitle()}</a
        >
      </li>
      {/foreach}
    </ol>
  </nav>
</div>
{/block} {block cardBody}
<div
  n:tag="$element->getHtmlTag()"
  n:class="accordion-collapse, collapse, $element->isExpanded() ? show"
  id="collapse-{$element->getIdAttribute()}"
>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>

  <div class="card-body text-center" style="display: none">
    {foreach $element->getChilds() as $child} {include
    $child->getHtmlTemplate(), element => $child, iterator => $iterator}
    {/foreach}
  </div>
</div>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
