<div
  n:class="card, card-flush, shadow-sm, card-rounded-10, p-2, $cardCss ?? null"
>
  <span n:ifset="$iconTitleClass" class="text-center p-2">
    <i n:class="$iconTitleClass"></i>
  </span>

  <div n:ifset="$avatarSrc" class="mx-auto">
    <img alt="$avatarAlt ?? null" src="{$avatarSrc}" class="rounded-circle" />
  </div>

  <div n:ifset="$body" n:class="card-body, p-4, pb-1, $bodyCss ?? null">
    <h3 n:ifset="$bodyTitle" class="text-center fw-bolder pt-8">
      {$bodyTitle}
    </h3>
    <p n:ifset="$subtitle">{$subtitle}</p>
    {if is_object($body)} {include $body->getHtmlTemplate(), element => $body}
    {else}
    <p>
      <i class="fas fa-quote-left"> </i>{$body}<i class="fas fa-quote-right">
      </i>
    </p>
    {/if}
  </div>
  <div n:ifset="$footer" class="card-footer">{$footer}</div>
</div>
