<div
  n:class="card, card-flush, shadow-sm, card-rounded-10, p-2, $cardCss ?? null"
>
  <span n:ifset="$iconTitleClass" class="text-center p-2">
    <i n:class="$iconTitleClass"></i>
  </span>

  <div n:ifset="$imgSrc">
    <img alt="$imgAlt ?? null" src="{$imgSrc}" class="card-img-top lazyload" />
  </div>

  <div n:ifset="$body" n:class="card-body, p-4, pb-1, $bodyCss ?? null">
    <h3 n:ifset="$bodyTitle" class="text-center fw-bolder pt-8">
      {$bodyTitle}
    </h3>
    <p n:ifset="$subtitle">{$subtitle}</p>
    {if is_object($body)} {include $body->getHtmlTemplate(), element => $body}
    {else}
    <p>{$body}</p>
    {/if}
  </div>
  <div n:ifset="$footer" class="p-2 card-footer">{$footer}</div>
  <div n:ifset="$footerLink" class="p-2 card-footer text-center">
    <a
      n:attr="target => $target,
        rel => $rel"
      class="btn btn-light-primary"
      href="{$footerLink}"
    >
      {=_("More")}
    </a>
  </div>
</div>
