<div
  n:class="card, card-flush, shadow-sm, card-rounded-10, p-2, $cardCss ?? null"
  n:attr="$attributes ?? []"
>
  {block cardIcon}
  <span n:ifset="$iconTitleClass" class="text-center p-2">
    <i n:class="$iconTitleClass"></i>
  </span>
  {/block} {block cardHeader}
  <div n:ifcontent n:class="card-header, $headerCss ?? null">
    {block cardHeaderTitle}
    <h3 n:ifset="$header" n:class="card-title, $headerTitleCss ?? null">
      {$header}
    </h3>
    {/block} {block cardHeaderToolbar}
    <div n:ifset="$toolbar" class="card-toolbar">
      {include $toolbar->getHtmlTemplate(), element => $toolbar}
    </div>
    {/block}
  </div>
  {/block} {block cardBody}
  <div n:ifcontent n:class="card-body, p-4, pb-1, $bodyCss ?? null">
    <span n:ifset="$iconBodyClass" class="text-center">
      <i n:class="text-primary, fa-4x, $iconBodyClass"></i>
    </span>
    {block cardBodyTitle}
    <h3
      class="card-title"
      n:ifset="$bodyTitle"
      class="text-center fw-bolder p-8"
    >
      {$bodyTitle}
    </h3>
    {/block} {if is_object($body)} {include $body->getHtmlTemplate(), element =>
    $body} {else}
    <p class="card-text">{$body}</p>
    {/if}
  </div>
  {/block} {block cardFooter}
  <div n:ifset="$footer" n:class="card-footer, $footerCss ?? null">
    {$footer}
  </div>
  {/block}
</div>
