<div class="dropdown" n:if="isset($NOTIFICATIONS)">
  <button
    n:class="count($NOTIFICATIONS) === 0 ? invisible,
    btn, btn-icon, btn-sm, btn-light-primary,
    fw-bolder,
    pulse, pulse-primary,
    menu-dropdown,
  "
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span id="notfication-count" class="position-absolute fs-6"
      >{= count($NOTIFICATIONS)}</span
    >
    <span class="pulse-ring"></span>
  </button>

  <div
    class="
      dropdown-menu dropdown-menu-right
      menu menu-sub menu-sub-dropdown menu-column
      fw-bold
      menu-title-gray-800 menu-hover-bg menu-state-title-primary
      w-250px w-md-300px
    "
    data-popper-placement="bottom-end"
  >
    <div class="menu-item mx-3">
      <div
        id="notification-title"
        class="menu-content fs-6 text-dark fw-bolder py-6"
      >
        {=_('Notifications')}
      </div>
    </div>
    <div class="separator mb-3"></div>

    {foreach $NOTIFICATIONS as $element}
    <div class="menu-item mx-3">
      <a
        n:tag-if="$element->link"
        n:attr="href => $element->link ?? '#'"
        class="menu-link px-4 py-3"
      >
        <div class="symbol symbol-35px" n:if="$element->icon">
          <span class="symbol-label bg-light-primary">
            <!--begin::Svg Icon | path: icons/duotone/General/Attachment2.svg-->
            <span class="svg-icon svg-icon-3 svg-icon-primary">
              <i n:class="fas, $element->icon"></i>
            </span>
            <!--end::Svg Icon-->
          </span>
        </div>
        <div class="ps-4">
          <span n:if="$element->title" class="menu-title fw-bold mb-1"
            >{$element->title}</span
          >
          <span n:if="$element->content" class="text-muted fw-bold d-block fs-7"
            >{$element->content}</span
          >
        </div>
      </a>
    </div>
    {/foreach}
    <div class="mb-3"></div>
  </div>
</div>
