<div class="fixed-bottom hide-litle-screen">
  <div class="d-flex flex-row-reverse">
    <div class="p-2 d-none d-md-block d-lg-block d-xl-block d-xxl-block">
      <a
        class="btn btn-sm btn-icon btn-white btn-active-success"
        data-router-disabled
        data-scroll="#header"
        title="{=_('Go to top')}"
      >
        <i class="fas fa-chevron-up"></i>
      </a>
    </div>
  </div>
</div>
