<!--  <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/mp2lSPr7QgE"></iframe>
                </div> -->
<video class="video-fluid z-depth-1" controls preload>
  <source src="{$source}" type="{$type}" />
</video>
