<div class="accordion" id="faq-accordion">
  <!-- Accordion card -->
  <div class="accordion-item">
    <!-- Card header -->
    <div class="accordion-header">
      <button
        class="accordion-button fs-4 fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-faq-1"
        aria-expanded="true"
        aria-controls="collapse-faq-1"
      >
        {=_("What is Allteam?")}
      </button>
    </div>

    <!-- Card body -->
    <div
      id="collapse-faq-1"
      class="accordion-collapse collapse show"
      aria-labelledby="heading-faq-1"
      data-bs-parent="#faq-accordion"
    >
      <div class="accordion-body">
        {=_("Allteam is an online platform dedicated to the management of event
        projects. This application allows you to collaborate with your partners,
        while simplifying the editing of documents.")}
      </div>
    </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="accordion-item">
    <!-- Card header -->
    <div class="accordion-header">
      <button
        class="accordion-button fs-4 fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-faq-2"
        aria-expanded="true"
        aria-controls="collapse-faq-2"
      >
        {=_("How much does it cost ?")}
      </button>
    </div>

    <!-- Card body -->
    <div
      id="collapse-faq-2"
      class="accordion-collapse collapse"
      aria-labelledby="heading-faq-2"
      data-bs-parent="#faq-accordion"
    >
      <div class="accordion-body">
        {=_("Allteam is free during your first event, allowing you to explore
        the different features. The price is then scalable depending on the
        number of employees registered.")}
      </div>
    </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="accordion-item">
    <!-- Card header -->
    <div class="accordion-header">
      <button
        class="accordion-button fs-4 fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-faq-3"
        aria-expanded="true"
        aria-controls="collapse-faq-3"
      >
        {=_("How to use Allteam ?")}
      </button>
    </div>

    <!-- Card body -->
    <div
      id="collapse-faq-3"
      class="accordion-collapse collapse"
      aria-labelledby="heading-faq-3"
      data-bs-parent="#faq-accordion"
    >
      <div class="accordion-body">
        {=_("If you want to use Allteam in your organization, sign-in to get
        your initial training. Once this step is completed you will have all the
        keys to discover the software and try it on one of your productions. You
        can invite collaborators to work with you by choosing a subscription
        type.")}
      </div>
    </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="accordion-item">
    <!-- Card header -->
    <div class="accordion-header">
      <button
        class="accordion-button fs-4 fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-faq-4"
        aria-expanded="true"
        aria-controls="collapse-faq-4"
      >
        {=_("Is there a mobile version ?")}
      </button>
    </div>

    <!-- Card body -->
    <div
      id="collapse-faq-4"
      class="accordion-collapse collapse"
      aria-labelledby="heading-faq-4"
      data-bs-parent="#faq-accordion"
    >
      <div class="accordion-body">
        {=_("The application is a website suitable for all screen sizes. This
        allows you to use it on any device with a web navigator.")}
      </div>
    </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="accordion-item">
    <!-- Card header -->
    <div class="accordion-header">
      <button
        class="accordion-button fs-4 fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-faq-5"
        aria-expanded="true"
        aria-controls="collapse-faq-5"
      >
        {=_("Available language")}
      </button>
    </div>

    <!-- Card body -->
    <div
      id="collapse-faq-5"
      class="accordion-collapse collapse"
      aria-labelledby="heading-faq-5"
      data-bs-parent="#faq-accordion"
    >
      <div class="accordion-body">
        {=_("Currently Allteam is translated into English and French. Each user
        can configure their language preferences in their personal space.")}
      </div>
    </div>
  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="accordion-item">
    <!-- Card header -->
    <div class="accordion-header">
      <button
        class="accordion-button fs-4 fw-bold"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapse-faq-6"
        aria-expanded="true"
        aria-controls="collapse-faq-6"
      >
        {=_("I have a technical problem !")}
      </button>
    </div>

    <!-- Card body -->
    <div
      id="collapse-faq-6"
      class="accordion-collapse collapse"
      aria-labelledby="heading-faq-6"
      data-bs-parent="#faq-accordion"
    >
      <div class="accordion-body">
        {=_("Allteam'team is at your disposal by email and will be happy to
        answer your questions. Contact admin@mailo.com by indicating the
        problems encountered. It is important to contact technical assistance
        with the email provided during your registration. You can also use the
        instant messaging system to the left of your screen.")}
      </div>
    </div>
  </div>
  <!-- Accordion card -->
</div>
