<footer
  id="footer"
  class="page-footer font-small animate__animated animate__fadeIn"
>
  <div class="footer-copyright text-center py-3 mdb-color darken-3">
    <span class="text-muted fw-bold me-2"
      ><span class="text-muted fw-bold me-2"
        ><a
          rel="license"
          href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          ><img
            alt="Creative Commons License"
            style="border-width: 0"
            src="/images/creative-commons-icon.png" /></a
      ></span>
      <a href="https://allteam.io" class="text-gray-800 text-hover-primary"
        >Allteam</a
      >
    </span>
  </div>
</footer>
