<div class="footer py-4 d-flex flex-lg-column" id="footer">
  <!--begin::Container-->
  <div class="container d-flex flex-column flex-md-row flex-stack">
    <!--begin::Copyright-->
    <div class="text-dark order-2 order-md-1">
      <span class="text-muted fw-bold me-2"
        ><a
          rel="license"
          href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
          ><img
            alt="Creative Commons License"
            style="border-width: 0"
            src="/images/creative-commons-icon.png" /></a
      ></span>
      <a href="https://allteam.io" class="text-gray-800 text-hover-primary"
        >Allteam</a
      >
    </div>
    <!--end::Copyright-->
    <!--begin::Menu-->
    <ul class="menu menu-gray-600 menu-hover-primary fw-bold order-1">
      <li class="menu-item">
        <a href="#" data-router-disabled target="_blank" class="menu-link px-2"
          >{=_('About')}</a
        >
      </li>
      <li class="menu-item">
        <a href="#" data-router-disabled target="_blank" class="menu-link px-2"
          >{=_('Support')}</a
        >
      </li>
    </ul>
    <!--end::Menu-->
  </div>
  <!--end::Container-->
</div>
