<header id="header">
  {include "../menu/menu.public.html"}
  <!-- <class="view"
    style="
      background-image: url('/images/bg_2.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    "
  >
    <div class="d-flex justify-content-center align-items-center">
      <div class="text-center text-white p-8">
        <h1 class="animate__animated animate__fadeIn">
          <strong> {=_("Allteam")} </strong>
        </h1>

        <p class="animate__animated animate__fadeIn">
          <strong>
            {=_("Bring a touch of simplicity to all your events")}
          </strong>
        </p>

        <a
          href="#features"
          class="
            btn btn-primary
            animate__fast animate__animated animate__fadeInUpBig
          "
        >
          {=_("More")}
        </a>
      </div>

      <div
        class="
          d-none d-sm-block
          flex-center
          animate__animated animate__fadeInRight
          p-8
        "
      >
        <img
          src="/images/logo-color-01-notitle.png"
          alt="Allteam logo"
          class="img-fluid"
        />
      </div>
    </div>
  </->
--></header>
