{varType core\html\HtmlElementInterface $element}
<div class="card-header align-items-center border-0 mt-5">
  <div class="d-flex flex-row justify-content-between">
    {block componentHeaderPrepend}
    <div
      class="p-2"
      n:if="$element->getParent() && $element->getParent()->isA('Modal')"
    >
      <button
        id="previous-button-{$element->getParent()->getIdAttribute()}"
        type="button"
        class="btn-light-primary previous btn btn-sm pulse pulse-primary"
        data-dismiss="modal"
        aria-label="Close"
      >
        <i class="fas fa-arrow-left"></i>
        <span class="pulse-ring invisible"></span>
      </button>
    </div>
    <div class="p-2" n:if="(isset($enableSpinner) && $enableSpinner)">
      <div
        id="progressBar-{$element->getIdAttribute()}"
        class="preloader-wrapper small crazy active"
      >
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-2" n:if="$element->getTitle()">
      <a
        id="title-{$element->getIdAttribute()}"
        href="#collapse-{$element->getIdAttribute()}"
        data-router-disabled
        data-bs-toggle="collapse"
        n:attr="aria-expanded => $element->isExpanded()"
        aria-controls="collapse-{$element->getIdAttribute()}"
        n:tag-if="$element->isCollapsable()"
      >
        <h5
          class="card-title flex-column h5 text-uppercase"
          n:ifcontent="$element->getTitle()"
        >
          {$element->getTitle()}
        </h5>
        <i n:tag-if="$element->isCollapsable()" class="fas fa-arrows-alt-v"></i>
      </a>
    </div>
    <div class="card-toolbar" n:if="$element->getActionBar()->hasChild()">
      {include $element->getActionBar()->getHtmlTemplate(), element =>
      $element->getActionBar()}
    </div>
    {/block} {block componentHeaderAppend}{/block}
  </div>
</div>
