
<div id="header" class="header" data-kt-sticky="true" data-kt-sticky-name="header" {syntax off}data-kt-sticky-offset="{default: '200px', lg: '300px'}" {/syntax}>
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <!--begin::Left-->
        <div class="d-flex align-items-center">
            <!--begin::Title-->
            <h3 id="header-title" class="text-uppercase text-dark fw-bolder my-1 fs-2" n:if="isset($PAGE)">{$PAGE}</h3>
            <!--end::Title-->

            {if isset($HTML_COMPONENTS['menus'])}

            <!-- START MENUS -->
            {foreach $HTML_COMPONENTS['menus'] as $element}
            {if $element->getLocation() === $element::TOPLEFT}
             {include
            $element->getHtmlTemplate(), element => $element}
            {/if}{/foreach}
            <!-- END MENUS -->
            {/if}
        </div>
        <div class="d-flex align-items-center">

            {if isset($HTML_COMPONENTS['menus'])}

            <!-- START MENUS -->
            {foreach $HTML_COMPONENTS['menus'] as $element}
            {if $element->getLocation() === $element::TOPCENTER}
             {include
            $element->getHtmlTemplate(), element => $element}
            {/if}{/foreach}
            <!-- END MENUS -->
            {/if}

        </div>
        <!--end::Left-->
        <!--begin::Right-->
        <div class="d-flex align-items-center">
            {include './block.notifications.html'}
            {if isset($HTML_COMPONENTS['menus'])}

            <!-- START MENUS -->
            {foreach $HTML_COMPONENTS['menus'] as $element}
            {if $element->getLocation() === $element::TOPRIGHT}
             {include
            $element->getHtmlTemplate(), element => $element}
            {/if}{/foreach}
            <!-- END MENUS -->
            {/if}




            <button class="btn btn-icon btn-sm btn-active-bg-accent d-lg-none ms-1 ms-lg-6" id="kt_aside_toggler"
            data-kt-drawer="true"
            data-kt-drawer-name="aside"
            data-kt-drawer-direction="start"
            data-kt-drawer-toggle="#kt_aside_toggler">
                <!--begin::Svg Icon | path: icons/duotone/Text/Menu.svg-->
                <span class="svg-icon svg-icon-1 svg-icon-dark">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <rect fill="#000000" x="4" y="5" width="16" height="3" rx="1.5"></rect>
                            <path d="M5.5,15 L18.5,15 C19.3284271,15 20,15.6715729 20,16.5 C20,17.3284271 19.3284271,18 18.5,18 L5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 Z M5.5,10 L18.5,10 C19.3284271,10 20,10.6715729 20,11.5 C20,12.3284271 19.3284271,13 18.5,13 L5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 Z" fill="#000000" opacity="0.3"></path>
                        </g>
                    </svg>
                </span>
                <!--end::Svg Icon-->
            </button>
        </div>
        <!--end::Right-->
    </div>
    <!--end::Container-->
</div>