/* Material input */
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  /*opacity: 1 !important;*/
  /*background-color: white !important;*/
  transform: scale(0.85) translateY(-0.8rem) translateX(0.15rem) !important;
  z-index: 1;
}
