<?php
declare(strict_types=1);

namespace core\logger\auth\templates;

?>
<span title="core\secure\authentification\AuthServiceInterface">
<span class="tracy-label"><?= _('Status') . ' : '?> <?= $isAllowed ?> & <?= $isConnected ?> </span>
</span>
