<?php
declare(strict_types=1);

namespace Nette\Bridges\DatabaseTracy;

?>

<h1>Auth infos</h1>

<div class="tracy-inner">
<div class="tracy-inner-container">
	<table class="tracy-sortable">

		<tr>
            <th>Ref</th>
            <th>Status</th>
		<tr>
        <?php foreach ($config as $ref => $status): ?>
		<tr>
			<td>
            <?= $ref ?>
			</td>

			<td>
            <?= $status ?>
			</td>

		</tr>
        <?php endforeach ?>

	</table>
    <table class="tracy-sortable">

		<tr>
            <th>Permission</th>
		<tr>
        <?php foreach ($permissions as $permission): ?>
		<tr>
			<td>
            <?= $permission->getName() ?>
			</td>

		</tr>
        <?php endforeach ?>

	</table>

</div>
</div>
