{varType core\html\form\elements\ProgressBar $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div id="{$element->getIdAttribute()}">
  <p>
    <strong n:ifcontent>{$element->getTitle()}</strong>
    <span class="pull-right text-muted" n:ifcontent
      >{$element->getSubtitle()}</span
    >
  </p>
  <div class="progress">
    <div
      class="
        progress-bar
        progress-bar-striped
        progress-bar-animated
        progress-bar-{$element->getType()}
      "
      role="progressbar"
      aria-valuenow="{$element->getPercent()}"
      aria-valuemin="0"
      aria-valuemax="100"
      style="width: {$element->getPercent()}%"
    >
      <span class="sr-only" n:ifcontent>{$element->getSubtitle()}</span>
    </div>
  </div>
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
