<div id="chat-container"></div>

<div
  id="kt_drawer_chat"
  class="bg-white"
  data-kt-drawer="true"
  data-kt-drawer-name="chat"
  data-kt-drawer-activate="true"
  data-kt-drawer-overlay="true"
  {syntax off}data-kt-drawer-width="{default:'300px', 'md': '500px'}"{/syntax}
  data-kt-drawer-direction="end"
  data-kt-drawer-toggle="#menuitem___messenger__"
  data-kt-drawer-close="#kt_drawer_chat_close"
>
  <!--begin::Messenger-->
  <div class="card w-100" id="kt_drawer_chat_messenger">
    <!--begin::Card header-->
    <div class="card-header pe-5" id="kt_drawer_chat_messenger_header">
      <!--begin::Title-->
      <div class="card-title">
        <!--begin::User-->
        <div class="d-flex justify-content-center flex-column me-3">
          <a
            href="#"  data-router-disabled
            class="
              fs-4
              fw-bolder
              text-gray-900 text-hover-primary
              me-1
              mb-2
              lh-1
            "
            >Kitten</a
          >
          <!--begin::Info-->
          <div class="mb-0 lh-1">
            <span
              class="badge badge-success badge-circle w-10px h-10px me-1"
            ></span>
            <span class="fs-7 fw-bold text-gray-400">Active</span>
          </div>
          <!--end::Info-->
        </div>
        <!--end::User-->
      </div>
      <!--end::Title-->
      <!--begin::Card toolbar-->
      <div class="card-toolbar">
        <!--begin::Menu-->
        <div class="me-2">
          <button
            class="btn btn-sm btn-icon btn-active-icon-primary pulse pulse-primary"
            data-kt-menu-trigger="click"
            data-kt-menu-placement="bottom-end"
            data-kt-menu-flip="top-end"
          >
            <i class="bi bi-three-dots fs-3"></i>
            <span class="pulse-ring invisible"></span>
          </button>
          <!--begin::Menu 3-->
          <div
            class="
              menu
              menu-sub
              menu-sub-dropdown
              menu-column
              menu-rounded
              menu-gray-800
              menu-state-bg-light-primary
              fw-bold
              w-200px
              py-3
            "
            data-kt-menu="true"
          >
            <!--begin::Heading-->
            <div class="menu-item px-3">
              <div
                class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase"
              >
                Contacts
              </div>
            </div>
            <!--end::Heading-->
            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <a
                href="#"  data-router-disabled
                class="menu-link px-3"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_users_search"
                >Add Contact</a
              >
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3">
              <a
                href="#"  data-router-disabled
                class="menu-link flex-stack px-3"
                data-bs-toggle="modal"
                data-bs-target="#kt_modal_invite_friends"
                >Invite Contacts
                <i
                  class="fas fa-exclamation-circle ms-2 fs-7"
                  data-bs-toggle="tooltip"
                  title="Specify a contact email to send an invitation"
                ></i
              ></a>
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div
              class="menu-item px-3"
              data-kt-menu-trigger="hover"
              data-kt-menu-placement="right-start"
              data-kt-menu-flip="left, center, top"
            >
              <a href="#"  data-router-disabled class="menu-link px-3">
                <span class="menu-title">Groups</span>
                <span class="menu-arrow"></span>
              </a>
              <!--begin::Menu sub-->
              <div class="menu-sub menu-sub-dropdown w-175px py-4">
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                  <a
                    href="#"  data-router-disabled
                    class="menu-link px-3"
                    data-bs-toggle="tooltip"
                    title="Coming soon"
                    >Create Group</a
                  >
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                  <a
                    href="#"  data-router-disabled
                    class="menu-link px-3"
                    data-bs-toggle="tooltip"
                    title="Coming soon"
                    >Invite Members</a
                  >
                </div>
                <!--end::Menu item-->
                <!--begin::Menu item-->
                <div class="menu-item px-3">
                  <a
                    href="#"  data-router-disabled
                    class="menu-link px-3"
                    data-bs-toggle="tooltip"
                    title="Coming soon"
                    >Settings</a
                  >
                </div>
                <!--end::Menu item-->
              </div>
              <!--end::Menu sub-->
            </div>
            <!--end::Menu item-->
            <!--begin::Menu item-->
            <div class="menu-item px-3 my-1">
              <a
                href="#"  data-router-disabled
                class="menu-link px-3"
                data-bs-toggle="tooltip"
                title="Coming soon"
                >Settings</a
              >
            </div>
            <!--end::Menu item-->
          </div>
          <!--end::Menu 3-->
        </div>
        <!--end::Menu-->
        <!--begin::Close-->
        <div
          class="btn btn-sm btn-icon btn-active-icon-primary"
          id="kt_drawer_chat_close"
        >
          <!--begin::Svg Icon | path: icons/duotone/Interface/Close-Square.svg-->
          <span class="svg-icon svg-icon-2x">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                opacity="0.25"
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M2.36899 6.54184C2.65912 4.34504 4.34504 2.65912 6.54184 2.36899C8.05208 2.16953 9.94127 2 12 2C14.0587 2 15.9479 2.16953 17.4582 2.36899C19.655 2.65912 21.3409 4.34504 21.631 6.54184C21.8305 8.05208 22 9.94127 22 12C22 14.0587 21.8305 15.9479 21.631 17.4582C21.3409 19.655 19.655 21.3409 17.4582 21.631C15.9479 21.8305 14.0587 22 12 22C9.94127 22 8.05208 21.8305 6.54184 21.631C4.34504 21.3409 2.65912 19.655 2.36899 17.4582C2.16953 15.9479 2 14.0587 2 12C2 9.94127 2.16953 8.05208 2.36899 6.54184Z"
                fill="#12131A"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.29289 8.29289C8.68342 7.90237 9.31658 7.90237 9.70711 8.29289L12 10.5858L14.2929 8.29289C14.6834 7.90237 15.3166 7.90237 15.7071 8.29289C16.0976 8.68342 16.0976 9.31658 15.7071 9.70711L13.4142 12L15.7071 14.2929C16.0976 14.6834 16.0976 15.3166 15.7071 15.7071C15.3166 16.0976 14.6834 16.0976 14.2929 15.7071L12 13.4142L9.70711 15.7071C9.31658 16.0976 8.68342 16.0976 8.29289 15.7071C7.90237 15.3166 7.90237 14.6834 8.29289 14.2929L10.5858 12L8.29289 9.70711C7.90237 9.31658 7.90237 8.68342 8.29289 8.29289Z"
                fill="#12131A"
              />
            </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <!--end::Card toolbar-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body" id="kt_drawer_chat_messenger_body">
      <!--begin::Messages-->
      <div
        class="scroll-y me-n5 pe-5"
        data-kt-element="messages"
        data-kt-scroll="true"
        data-kt-scroll-activate="true"
        data-kt-scroll-height="auto"
        data-kt-scroll-dependencies="#kt_drawer_chat_messenger_header, #kt_drawer_chat_messenger_footer"
        data-kt-scroll-wrappers="#kt_drawer_chat_messenger_body"
        data-kt-scroll-offset="0px"
      >
        <!--begin::Message(in)-->
        <div class="d-flex justify-content-start mb-10">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-start">
            <!--begin::User-->
            <div class="d-flex align-items-center mb-2">
              <!--begin::Avatar-->
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="/media/avatars/giphy.gif" />
              </div>
              <!--end::Avatar-->
              <!--begin::Details-->
              <div class="ms-3">
                <a
                  href="#"  data-router-disabled
                  class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1"
                  >Kitten</a
                >
                <span class="text-muted fs-7 mb-1">2 mins</span>
              </div>
              <!--end::Details-->
            </div>
            <!--end::User-->
            <!--begin::Text-->
            <div
              class="
                p-5
                rounded
                bg-light-info
                text-dark
                fw-bold
                mw-lg-400px
                text-start
              "
              data-kt-element="message-text"
            >
              How likely are you to recommend our company to your friends and
              family ?
            </div>
            <!--end::Text-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Message(in)-->
        <!--begin::Message(out)-->
        <div class="d-flex justify-content-end mb-10">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-end">
            <!--begin::User-->
            <div class="d-flex align-items-center mb-2">
              <!--begin::Details-->
              <div class="me-3">
                <span class="text-muted fs-7 mb-1">5 mins</span>
                <a
                  href="#"  data-router-disabled
                  class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1"
                  >You</a
                >
              </div>
              <!--end::Details-->
              <!--begin::Avatar-->
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="/media/avatars/giphy-2.gif" />
              </div>
              <!--end::Avatar-->
            </div>
            <!--end::User-->
            <!--begin::Text-->
            <div
              class="
                p-5
                rounded
                bg-light-primary
                text-dark
                fw-bold
                mw-lg-400px
                text-end
              "
              data-kt-element="message-text"
            >
              Hey there, we’re just writing to let you know that you’ve been
              subscribed to a repository on GitHub.
            </div>
            <!--end::Text-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Message(out)-->
        <!--begin::Message(in)-->
        <div class="d-flex justify-content-start mb-10">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-start">
            <!--begin::User-->
            <div class="d-flex align-items-center mb-2">
              <!--begin::Avatar-->
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="/media/avatars/giphy.gif" />
              </div>
              <!--end::Avatar-->
              <!--begin::Details-->
              <div class="ms-3">
                <a
                  href="#"  data-router-disabled
                  class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1"
                  >Kitten</a
                >
                <span class="text-muted fs-7 mb-1">1 Hour</span>
              </div>
              <!--end::Details-->
            </div>
            <!--end::User-->
            <!--begin::Text-->
            <div
              class="
                p-5
                rounded
                bg-light-info
                text-dark
                fw-bold
                mw-lg-400px
                text-start
              "
              data-kt-element="message-text"
            >
              Ok, Understood!
            </div>
            <!--end::Text-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Message(in)-->
        <!--begin::Message(out)-->
        <div class="d-flex justify-content-end mb-10">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-end">
            <!--begin::User-->
            <div class="d-flex align-items-center mb-2">
              <!--begin::Details-->
              <div class="me-3">
                <span class="text-muted fs-7 mb-1">2 Hours</span>
                <a
                  href="#"  data-router-disabled
                  class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1"
                  >You</a
                >
              </div>
              <!--end::Details-->
              <!--begin::Avatar-->
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="/media/avatars/giphy-2.gif" />
              </div>
              <!--end::Avatar-->
            </div>
            <!--end::User-->
            <!--begin::Text-->
            <div
              class="
                p-5
                rounded
                bg-light-primary
                text-dark
                fw-bold
                mw-lg-400px
                text-end
              "
              data-kt-element="message-text"
            >
              You’ll receive notifications for all issues, pull requests!
            </div>
            <!--end::Text-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Message(out)-->
        <!--begin::Message(in)-->
        <div class="d-flex justify-content-start mb-10">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-start">
            <!--begin::User-->
            <div class="d-flex align-items-center mb-2">
              <!--begin::Avatar-->
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="/media/avatars/giphy.gif" />
              </div>
              <!--end::Avatar-->
              <!--begin::Details-->
              <div class="ms-3">
                <a
                  href="#"  data-router-disabled
                  class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1"
                  >Kitten</a
                >
                <span class="text-muted fs-7 mb-1">3 Hours</span>
              </div>
              <!--end::Details-->
            </div>
            <!--end::User-->
            <!--begin::Text-->
            <div
              class="
                p-5
                rounded
                bg-light-info
                text-dark
                fw-bold
                mw-lg-400px
                text-start
              "
              data-kt-element="message-text"
            >
              You can unwatch this repository immediately by clicking here:
              <a href="https://keenthemes.com">Keenthemes.com</a>
            </div>
            <!--end::Text-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Message(in)-->
        <!--begin::Message(out)-->
        <div class="d-flex justify-content-end mb-10">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-end">
            <!--begin::User-->
            <div class="d-flex align-items-center mb-2">
              <!--begin::Details-->
              <div class="me-3">
                <span class="text-muted fs-7 mb-1">4 Hours</span>
                <a
                  href="#"  data-router-disabled
                  class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1"
                  >You</a
                >
              </div>
              <!--end::Details-->
              <!--begin::Avatar-->
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="/media/avatars/giphy-2.gif" />
              </div>
              <!--end::Avatar-->
            </div>
            <!--end::User-->
            <!--begin::Text-->
            <div
              class="
                p-5
                rounded
                bg-light-primary
                text-dark
                fw-bold
                mw-lg-400px
                text-end
              "
              data-kt-element="message-text"
            >
              Most purchased Business courses during this sale!
            </div>
            <!--end::Text-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Message(out)-->
        <!--begin::Message(in)-->
        <div class="d-flex justify-content-start mb-10">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-start">
            <!--begin::User-->
            <div class="d-flex align-items-center mb-2">
              <!--begin::Avatar-->
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="/media/avatars/giphy.gif" />
              </div>
              <!--end::Avatar-->
              <!--begin::Details-->
              <div class="ms-3">
                <a
                  href="#"  data-router-disabled
                  class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1"
                  >Kitten</a
                >
                <span class="text-muted fs-7 mb-1">5 Hours</span>
              </div>
              <!--end::Details-->
            </div>
            <!--end::User-->
            <!--begin::Text-->
            <div
              class="
                p-5
                rounded
                bg-light-info
                text-dark
                fw-bold
                mw-lg-400px
                text-start
              "
              data-kt-element="message-text"
            >
              Company BBQ to celebrate the last quater achievements and goals.
              Food and drinks provided
            </div>
            <!--end::Text-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Message(in)-->
        <!--begin::Message(template for out)-->
        <div
          class="d-flex justify-content-end mb-10 d-none"
          data-kt-element="template-out"
        >
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-end">
            <!--begin::User-->
            <div class="d-flex align-items-center mb-2">
              <!--begin::Details-->
              <div class="me-3">
                <span class="text-muted fs-7 mb-1">Just now</span>
                <a
                  href="#"  data-router-disabled
                  class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1"
                  >You</a
                >
              </div>
              <!--end::Details-->
              <!--begin::Avatar-->
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="/media/avatars/giphy-2.gif" />
              </div>
              <!--end::Avatar-->
            </div>
            <!--end::User-->
            <!--begin::Text-->
            <div
              class="
                p-5
                rounded
                bg-light-primary
                text-dark
                fw-bold
                mw-lg-400px
                text-end
              "
              data-kt-element="message-text"
            ></div>
            <!--end::Text-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Message(template for out)-->
        <!--begin::Message(template for in)-->
        <div
          class="d-flex justify-content-start mb-10 d-none"
          data-kt-element="template-in"
        >
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-start">
            <!--begin::User-->
            <div class="d-flex align-items-center mb-2">
              <!--begin::Avatar-->
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" src="/media/avatars/giphy.gif" />
              </div>
              <!--end::Avatar-->
              <!--begin::Details-->
              <div class="ms-3">
                <a
                  href="#"  data-router-disabled
                  class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1"
                  >Kitten</a
                >
                <span class="text-muted fs-7 mb-1">Just now</span>
              </div>
              <!--end::Details-->
            </div>
            <!--end::User-->
            <!--begin::Text-->
            <div
              class="
                p-5
                rounded
                bg-light-info
                text-dark
                fw-bold
                mw-lg-400px
                text-start
              "
              data-kt-element="message-text"
            >
              Right before vacation season we have the next Big Deal for you.
            </div>
            <!--end::Text-->
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Message(template for in)-->
      </div>
      <!--end::Messages-->
    </div>
    <!--end::Card body-->
    <!--begin::Card footer-->
    <div class="card-footer pt-4" id="kt_drawer_chat_messenger_footer">
      <!--begin::Input-->
      <div
      n:ifset="$UNIQUE_COMPONENTS['#messenger-form']"
      class="col"
      id="messenger-form"
    >
      {foreach $UNIQUE_COMPONENTS['#messenger-form'] as $child}
      {include $child->getHtmlTemplate(), element => $child, iterator =>
      $iterator} {/foreach}
    </div>

      <!--end::Input-->
      <!--begin:Toolbar-->
      <div class="d-flex flex-stack">
        <!--begin::Actions-->
        <div class="d-flex align-items-center me-2">
          <button
            class="btn btn-sm btn-icon btn-active-light-primary me-1 pulse pulse-primary"
            type="button"
            data-bs-toggle="tooltip"
            title="Coming soon"
          >
            <i class="bi bi-paperclip fs-3"></i>
            <span class="pulse-ring invisible"></span>
          </button>
          <button
            class="btn btn-sm btn-icon btn-active-light-primary me-1"
            type="button"
            data-bs-toggle="tooltip"
            title="Coming soon"
          >
            <i class="bi bi-upload fs-3"></i>
          </button>
        </div>
        <!--end::Actions-->
        <!--begin::Send-->
        <button class="btn btn-sm btn-light-success" type="button" data-kt-element="send">
          Send
        </button>
        <!--end::Send-->
      </div>
      <!--end::Toolbar-->
    </div>
    <!--end::Card footer-->
  </div>
  <!--end::Messenger-->
</div>
