//
// Offcanvas
//

// Offcanvas
.offcanvas {
	display: flex !important;
	overflow: auto;
	z-index: get($offcanvas, z-index);
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: get($offcanvas, bg-color);
	transition: left get($offcanvas, transition-speed) ease, right get($offcanvas, transition-speed) ease;

	&.offcanvas-on {
		box-shadow: get($offcanvas, box-shadow);

		&.offcanvas-left {
			left: 0 !important;
			transition: left get($offcanvas, transition-speed) ease;
		}

		&.offcanvas-right {
			right: 0 !important;
			transition: right get($offcanvas, transition-speed) ease;
		}
	}
}

// Offcanvas Overlay
.offcanvas-overlay {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: get($offcanvas, z-index) - 1;
	background-color: get($offcanvas, overlay-bg-color);
	animation: animation-offcanvas-fade-in get($offcanvas, overlay-animation-speed) ease 1;
}

// Animation
@keyframes animation-offcanvas-fade-in {
	from   { opacity: 0; }
	to { opacity: 1; }
}

// Tablet & Mobile Modes
@include media-breakpoint-down(lg) {
	body[data-kt-offcanvas="on"] {
		overflow: hidden;
	}
}
