<?php
declare(strict_types=1);

?>

<h1>View's variables</h1>

<div class="tracy-inner">
<div class="tracy-inner-container">
	<table class="tracy-sortable">

		<tr>
            <th>Variable</th>
            <th>Value</th>
		<tr>
        <?php foreach ($objects as $name => $value): ?>
		<tr>
			<td>
            <?= $name ?>
			</td>

			<td>
            <?= $value ?>
			</td>

		</tr>
        <?php endforeach ?>

	</table>

</div>
</div>
