<a
  n:tag="$element->getHtmlTag()"
  type="button"
  n:class="$element->isDisabled() ? 'disabled', menu-link, px-3, $element->stringifyClasses()"
  n:attr="$element->getFormatedDataAttributes(), disabled => $element->isDisabled(), aria-label => $element->getLabel(), title => $element->getLabel()"
  id="{$element->getIdAttribute()}"
>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
  <span class="menu-icon" n:if="$element->getIcon() || $element->isDisabled()"
    ><span class="svg-icon svg-icon-1">
      <i
        id="{$element->getIdAttribute()}_icon"
        n:class="fas, $element->isDisabled() ? fa-lock : $element->getIcon()"
      >
      </i>
    </span>
  </span>

  <span class="menu-title" n:if="$element->getLabel()"
    >{$element->getLabel()}</span
  >
</a>
