{varType core\html\button\Button $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<span
  data-bs-toggle="tooltip"
  data-bs-placement="left"
  data-bs-dismiss="click"
  n:attr="title => $element->isDisabled() ? _('You are not allowed')"
  ><button
    n:tag="$element->getHtmlTag()"
    type="button"
    n:class="$element->isDisabled() ? 'disabled', btn, btn-sm, pulse, pulse-primary, $element->stringifyClasses()"
    n:attr="$element->getFormatedDataAttributes(), disabled => $element->isDisabled(), aria-label => $element->getLabel(), title => $element->getLabel()"
    id="{$element->getIdAttribute()}"
  >
    <div
      class="component-config"
      style="display: none"
      n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
    >
      {json_encode($element->toArray())}
    </div>

    <span class="indicator-label">
      <i
        n:if="$element->getIcon() || $element->isDisabled()"
        id="{$element->getIdAttribute()}-icon"
        n:class="fas, $element->isDisabled() ? fa-lock : $element->getIcon()"
      >
      </i>

      <span n:ifcontent class="hide-litle-screen">{$element->getLabel()}</span>
    </span>

    <span class="indicator-progress">
      {=_('Please wait...')}
      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
    </span>

    <span class="pulse-ring invisible"></span>
  </button>
</span>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
