{varType core\html\bar\Bar $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div
  class="d-flex flex-row-reverse align-items-center"
  n:if="!$element->isDisabled()"
>
  {if $element->hasFields()} {foreach $element->getFields() as $child}
  <div class="p-2">
    {include $child->getHtmlTemplate(), element => $child, iterator =>
    $iterator}
  </div>
  {/foreach} {/if}
  <div
    class="btn-toolbar p-2"
    role="toolbar"
    id="toolbar-{$element->getIdAttribute()}"
  >
    <div
      class="btn-group {$element->stringifyClasses()}"
      id="{$element->getIdAttribute()}"
      role="group"
      n:attr="aria-label => $element->getLabel()"
      n:if="$element->hasButtons()"
    >
      {foreach $element->getButtons() as $child} {include
      $child->getHtmlTemplate(), element => $child, iterator => $iterator}
      {/foreach}
    </div>
  </div>
</div>
<div
  class="d-flex flex-row-reverse align-items-center"
  n:if="$element->isDisabled()"
>
  <span type="button" class="btn btn-sm btn-icon" style="cursor: not-allowed">
    <span class="svg-icon svg-icon-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="24px"
        height="24px"
        viewBox="0 0 24 24"
        version="1.1"
      >
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000"></rect>
          <rect
            x="14"
            y="5"
            width="5"
            height="5"
            rx="1"
            fill="#000000"
            opacity="0.3"
          ></rect>
          <rect
            x="5"
            y="14"
            width="5"
            height="5"
            rx="1"
            fill="#000000"
            opacity="0.3"
          ></rect>
          <rect
            x="14"
            y="14"
            width="5"
            height="5"
            rx="1"
            fill="#000000"
            opacity="0.3"
          ></rect>
        </g>
      </svg>
    </span>
  </span>
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
