{varType core\html\bar\Bar $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->

<div
  n:if="!$element->isDisabled() && $element->hasChild()"
  class="btn-group align-items-center"
  role="group"
>
  <div class="dropdown text-center" id="{$element->getIdAttribute()}_dropdown">
    <button
      type="button"
      class="btn btn-sm btn-icon btn-color-primary btn-active-light-primary pulse pulse-primary"
      data-bs-toggle="dropdown"
    >
      <span class="svg-icon svg-icon-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="24px"
          viewBox="0 0 24 24"
          version="1.1"
        >
          <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000"></rect>
            <rect
              x="14"
              y="5"
              width="5"
              height="5"
              rx="1"
              fill="#000000"
              opacity="0.3"
            ></rect>
            <rect
              x="5"
              y="14"
              width="5"
              height="5"
              rx="1"
              fill="#000000"
              opacity="0.3"
            ></rect>
            <rect
              x="14"
              y="14"
              width="5"
              height="5"
              rx="1"
              fill="#000000"
              opacity="0.3"
            ></rect>
          </g>
        </svg>
      </span>
      <span class="pulse-ring invisible"></span>
    </button>
    <div
      class="dropdown-menu dropdown-menu-right menu menu-sub menu-sub-dropdown menu-column w-300px w-lg-350px"
      style="width: max-content !important; z-index: 10000"
    >
      <ul
        class="menu menu-custom menu-column menu-rounded menu-title-gray-600 menu-icon-muted menu-hover-bg-light-primary menu-active-bg-light-primary fw-bold"
      >
        <!-- Fields -->
        {if $element->hasFields()} {foreach $element->getFields() as $child}
        <li class="menu-item py-1">
          {include $child->getHtmlTemplate(), element => $child, iterator =>
          $iterator}
        </li>
        {/foreach} {/if}
        <!-- Buttons -->
        {if $element->hasButtons()} {foreach $element->getButtons() as $child}
        <li class="menu-item py-1">
          {include '../button/button.dropdown.html', element => $child, iterator
          => $iterator}
        </li>
        {/foreach} {/if}
      </ul>
    </div>
  </div>
</div>

<span
  n:if="$element->isDisabled() || !$element->hasChild()"
  type="button"
  class="btn btn-sm btn-icon"
  style="cursor: not-allowed"
>
  <span class="svg-icon svg-icon-1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="24px"
      height="24px"
      viewBox="0 0 24 24"
      version="1.1"
    >
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000"></rect>
        <rect
          x="14"
          y="5"
          width="5"
          height="5"
          rx="1"
          fill="#000000"
          opacity="0.3"
        ></rect>
        <rect
          x="5"
          y="14"
          width="5"
          height="5"
          rx="1"
          fill="#000000"
          opacity="0.3"
        ></rect>
        <rect
          x="14"
          y="14"
          width="5"
          height="5"
          rx="1"
          fill="#000000"
          opacity="0.3"
        ></rect>
      </g>
    </svg>
  </span>
</span>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
