{layout '../../layout/layout.component.html'} {varType core\html\chart\Draglist
$element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]}{var $toolbar
= $element->getActionBar()} {block cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
>
  {$element->getTitle()}
</div>
{/block} {block cardBody}
<div
  n:tag="$element->getHtmlTag()"
  id="{$element->getIdAttribute()}"
  class="drag-container"
>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>

  <div class="row">
    {foreach $element->getChilds() as $child} {varType
    core\html\draglist\DraglistColumn $child} {include
    $child->getHtmlTemplate(), element => $child, iterator => $iterator}
    {/foreach}
  </div>
</div>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
