<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div
  id="{$element->getIdAttribute()}"
  n:class="
    btn, btn-outline-dashed, btn-outline-light, btn-color-gray-600,
    border,border-dashed,
    mb-3,
    'btn-active-light-'.$element->getParent()?->stringifyClasses() ?? 'btn-active-light-'. $element->stringifyClasses()
  "
  n:attr="$element->getFormatedDataAttributes()"
  style="cursor: grab"
>
  <div class="d-flex w-100 justify-content-between align-items-center">
    <h6 class="pull-left" n:if="$element->title">
      <span
        n:class="
          badge,
          text-wrap,
          todo-title,
          'badge-'.$element->getParent()?->stringifyClasses() ??  'badge-'.$element->stringifyClasses()
        "
        >{$element->title}</span
      >
    </h6>

    {if $element->getActionBar() !== null}{include
    $element->getActionBar()->getHtmlTemplate(), element =>
    $element->getActionBar()}{/if}
  </div>
  <div
    n:class="collapse, 'multi-collapse-'. $element->getParent()?->stringifyClasses() ?? 'multi-collapse-'. $element->stringifyClasses(), $element->isExpanded() ? show"
    id="collapse-{$element->getIdAttribute()}"
  >
    <p class="mb-2" n:ifcontent>
      <small n:ifcontent>
        <span n:ifcontent>{$element?->due_date}</span>
        <span n:ifcontent>{$element?->type?->getLabel()|noescape}</span>
      </small>
    </p>
    <p class="mb-2 text-start" n:ifcontent>{$element->content|noescape}</p>
    <p class="mb-2" n:if="$element->file">{$element->getLink()}</p>

    <p class="mb-2" n:ifcontent>
      <small n:ifcontent>
        <span n:ifcontent>{$element?->performance?->getLabel()|noescape}</span>
      </small>
    </p>
  </div>
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
