{varType core\html\draglist\DraglistColumn $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div class="col p-2 drag-column-{$element->getIdAttribute()}">
  <div class="card mb-3">
    <button
      class="btn btn-light-{$element->stringifyClasses()} pulse pulse-primary"
      type="button"
      data-bs-target=".multi-collapse-{$element->stringifyClasses()}"
      data-bs-toggle="collapse"
      data-router-disabled
      aria-expanded="false"
      aria-controls="{$element->getChildsIds()}"
    >
      <i class="fas fa-arrows-alt-v"></i>
      {$element->getTitle()}
      <span class="pulse-ring invisible"></span>
    </button>
  </div>

  <div
    class="m-1 drag-inner-list list-group"
    id="{$element->getIdAttribute()}"
    data-column="{$element->column}"
    data-class="btn-outline btn-outline-dashed btn-outline-{$element->stringifyClasses()}"
    data-label="{$element->stringifyClasses()}"
  >
    {foreach $element->getChilds() as $child} {include
    $child->getHtmlTemplate(), element => $child, iterator => $iterator}
    {/foreach}
  </div>
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
