{layout '../../layout/layout.component.html'} {varType
core\html\timeline\Timeline $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]} {var
$enableSpinner = true} {var $toolbar = $element->getActionBar()} {block
cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
>
  {$element->getName()}
</div>
{/block} {block cardBody}

<div
  n:tag="$element->getHtmlTag()"
  class="mb-3"
  id="{$element->getIdAttribute()}"
>
  <div
    class="vis-timeline border-0 border-light rounded-2"
    id="{$element->getIdAttribute()}_wrapper"
  ></div>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
</div>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
