{varType core\html\menu\MenuItem $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<a
  href="{$element->getHref()}"
  class="col text-center py-10 btn btn-icon btn-sm btn-active-bg-accent"
  n:if="$element->getIcon()"
  id="{$element->getIdAttribute()}"
>
  <span class="svg-icon svg-icon-1 svg-icon-dark">
    <i
      n:if="!$element->isDisabled()"
      id="{$element->getIdAttribute()}-icon"
      n:class="fas, $element->isDisabled() ? fas-lock : $element->getIcon()"
    >
    </i>
  </span>
  <span n:ifcontent class="fw-bolder fs-6 d-block pt-3"
    >{$element->getTitle()}</span
  >
</a>

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
