{varType core\html\menu\MenuItem $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<a
  href="{$element->getHref()}"
  class="
    col
    border-bottom border-end
    text-center
    py-10
    btn btn-active-color-primary
    rounded-0
  "
  n:if="$element->getIcon()"
>
  <span class="svg-icon svg-icon-3x me-n1">
    <i
      n:if="!$element->isDisabled()"
      id="{$element->getIdAttribute()}-icon"
      n:class="fas, $element->isDisabled() ? fas-lock : $element->getIcon()"
    >
    </i>
  </span>
  <span n:ifcontent class="fw-bolder fs-6 d-block pt-3"
    >{$element->getTitle()}</span
  >
</a>

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
