{varType core\html\menu\MenuDropDown $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div class="ms-1 ms-lg-6" role="group">
  <div class="dropdown text-center">
    <button
      type="button"
      class="btn btn-icon btn-sm btn-active-bg-accent pulse pulse-primary"
      data-bs-toggle="dropdown"
    >
      <span class="svg-icon svg-icon-1 svg-icon-dark">
        <i
          n:if="$element->getIcon() || $element->isDisabled()"
          id="{$element->getIdAttribute()}-icon"
          n:class="fas, $element->isDisabled() ? fa-lock : $element->getIcon()"
        >
        </i>
      </span>
      <span class="pulse-ring invisible"></span>
    </button>
    <div
      class="
        dropdown-menu dropdown-menu-right
        menu menu-sub menu-sub-dropdown menu-column
        w-300px w-lg-350px
      "
      style="width: max-content !important"
    >
      <div
        class="
          menu
          menu-custom
          menu-column
          menu-rounded
          menu-title-gray-600
          menu-icon-muted
          menu-hover-bg-light-primary
          menu-active-bg-light-primary
          fw-bold
        "
      >
        <div
          class="
            menu-content
            fw-bold
            d-flex
            align-items-center
            bgi-no-repeat bgi-position-y-top
            rounded-top
            bg-primary
          "
        >
          <div class="symbol symbol-45px mx-5 py-5"></div>
          <div
            class="
              menu-content
              fw-bold
              d-flex
              align-items-center
              bgi-no-repeat bgi-position-y-top
              rounded-top
            "
          >
            <div class="symbol symbol-45px py-5">
              <span class="text-white fw-bolder fs-4" n:ifcontent
                >{$element->getTitle()}</span
              >
            </div>
          </div>
        </div>

        <div class="row row-cols-2 g-0">
          {foreach $element->getChilds() as $child}{include
          $child->getHtmlTemplate(), element => $child} {/foreach}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
