{varType core\html\menu\MenuDropDown $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<li
  class="nav-item mb-1"
  title="{$element->getTitle()}"
  data-bs-toggle="tooltip"
  data-bs-placement="right"
  data-bs-dismiss="click"
>
  <button
    class="
      nav-link
      h-40px
      w-40px
      h-lg-50px
      w-lg-50px
      btn btn-custom btn-icon btn-color-white
    "
    onclick="appInit.asideMenuTrigger();"
    data-bs-toggle="tab"
    data-bs-target="#{$element->getIdAttribute()}"
    role="tab"
  >
    <span class="svg-icon svg-icon-2 svg-icon-lg-1">
      <i
        n:if="$element->getIcon() || $element->isDisabled()"
        id="{$element->getIdAttribute()}-icon"
        n:class="fas, $element->isDisabled() ? fa-lock : $element->getIcon()"
      >
      </i>
    </span>
  </button>
</li>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
