{varType core\html\menu\MenuDropDown $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->

<div class="menu-item" n:if="$element->isEnabled()">
  <a class="menu-link py-2" href="{$element->getHref()}" n:ifcontent>
    <span class="menu-title" n:ifcontent>{$element->getTitle()}</span>
  </a>
</div>

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
