{varType core\html\menu\MenuDropDown $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div
  class="
    menu
    menu-column
    menu-rounded
    menu-title-gray-700
    menu-state-title-primary
    menu-state-icon-primary
    menu-state-bullet-primary
    menu-arrow-gray-500
    fw-bold
    fs-6
  "
  data-kt-menu="true"
>
  <div
    class="hover-scroll-y pe-4 pe-lg-5"
    id="kt_aside_menu_scroll"
    data-kt-scroll="true"
    data-kt-scroll-height="auto"
    data-kt-scroll-wrappers="#kt_aside_wordspace"
    data-kt-scroll-offset="10px"
  >
    <div class="menu-wrapper menu-column menu-fit">
      <div class="menu-item here show">
        <h4
          class="menu-content text-muted mb-0 fs-6 fw-bold text-uppercase"
          n:ifcontent
        >
          {$element->getTitle()}
        </h4>

        <div class="menu-sub menu-fit menu-sub-accordion show pb-10">
          {foreach $element->getChilds() as $child}{include
          $child->getHtmlTemplate(), element => $child} {/foreach}
        </div>
      </div>
    </div>
  </div>
</div>

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
