{varType core\html\menu\MenuDropDown $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->

<li class="nav-item mb-1" title="{$element->getTitle()}">
  <div class="dropdown text-center">
    <a
      href="#"
      data-router-disabled
      class="
        nav-link
        h-40px
        w-40px
        h-lg-50px
        w-lg-50px
        btn btn-custom btn-icon btn-color-white
        active
      "
      role="tab"
      type="button"
      data-bs-toggle="dropdown"
    >
      <span class="svg-icon svg-icon-2 svg-icon-lg-1">
        <i
          n:if="$element->getIcon() || $element->isDisabled()"
          id="{$element->getIdAttribute()}-icon"
          n:class="fas, $element->isDisabled() ? fa-lock : $element->getIcon()"
        >
        </i>
      </span>
    </a>
    <div
      class="
        dropdown-menu dropdown-menu-right
        menu menu-sub menu-sub-dropdown menu-column
        w-300px w-lg-350px
      "
      style="width: max-content !important"
    >
      <div
        class="
          menu
          menu-custom
          menu-column
          menu-rounded
          menu-title-gray-600
          menu-icon-muted
          menu-hover-bg-light-primary
          menu-active-bg-light-primary
          fw-bold
        "
      >
        <div class="menu-item px-3">
          <div
            class="menu-content fs-6 text-dark fw-bolder px-3 py-4"
            n:ifcontent
          >
            {$element->getTitle()}
          </div>
        </div>
        <div
          class="separator mb-3 opacity-75"
          n:if="$element->getTitle()"
        ></div>
        {foreach $element->getChilds() as $child}{include
        $child->getHtmlTemplate(), element => $child} {/foreach}
      </div>
    </div>
  </div>
</li>

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
