<?php
declare(strict_types=1);

namespace Nette\Bridges\DatabaseTracy;

?>

<h1>Application infos</h1>

<div class="tracy-inner">
<div class="tracy-inner-container">
	<table class="tracy-sortable">

    <tr>
        <td>
        <?= 'Implementation' ?>
        </td>

        <td>
            <?= $config['application'] ?>
        </td>

    </tr>
    <tr>
        <td>
            <?= 'Context' ?>
        </td>

        <td>
            <?= $config['context'] ?>
        </td>

    </tr>
    <tr>
        <td>
            <?= 'Widgets factories' ?>
        </td>

        <td>
            <?php foreach ($config['factories'] as $factory): ?>
                <?= $factory ?><br>
            <?php endforeach ?>
        </td>

    </tr>


	</table>

</div>
</div>
