{layout '../../../layout/layout.component.html'} {varType
core\html\table\pillsTable\PillsTable $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]} {block
cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
>
  {$element->getTitle()}
</div>

{/block} {block cardToolbar}

<ul
  class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0"
  n:if="$element->getMenu() === 'INLINE'"
>
  {foreach $element->getChilds() as $child}

  <li class="nav-item" n:if="$child->hasChild()">
    <a
      n:class="nav-link, $child->isDefault() ? active"
      data-bs-toggle="tab"
      data-bs-target="#{$child->getIdAttribute()}"
      href="#"
    >
      <i n:if="$child->getIcon()" class="fas {$child->getIcon()}"> </i>
      {$child->getTitle()}</a
    >
  </li>
  {/foreach}
</ul>

{if $element->getMenu() === 'DROPDOWN' } {include
$element->getDropdownBar()->getHtmlTemplate(), element =>
$element->getDropdownBar()} {/if} {/block} {block cardBody}
<div
  id="{$element->getIdAttribute()}"
  class="tab-content"
  n:tag="$element->getHtmlTag()"
>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
  {foreach $element->getChilds() as $child} {include $child->getHtmlTemplate(),
  element => $child, iterator => $iterator} {/foreach}
</div>
{/block}

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
