<!-- Microdata -->
<div
  style="display: none"
  itemscope
  itemtype="http://schema.org/SoftwareApplication"
>
  <span itemprop="name">Allteam</span>
  <br />
  <span itemprop="applicationCategory">Event</span>
  <br />
  Requires
  <span itemprop="operatingSystem">Linux, Macintosh, WIndows</span>
  <br />
  <div
    itemprop="aggregateRating"
    itemscope
    itemtype="http://schema.org/AggregateRating"
  >
    Rating
    <span itemprop="ratingValue">5</span> (
    <span itemprop="ratingCount">5</span>)
  </div>
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <span itemprop="priceCurrency" content="EUR"></span> {=_("Standard")}
    <span itemprop="price">79</span>
  </div>
</div>
<!-- Microdata -->
