<input type="hidden" value="{$CHANNEL}" id="CHANNEL" />
<input type="hidden" value="{$MAINCHANNEL}" id="MAINCHANNEL" />
<input type="hidden" value="{$PAGECHANNEL}" id="PAGECHANNEL" />
<input type="hidden" value="{$URLSOCKET}" id="URLSOCKET" />
