{layout '../../layout/layout.component.html'} {varType core\html\flow\Flow
$element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]}{var $toolbar
= $element->getActionBar()} {block cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
>
  {$element->getTitle()}
</div>
{/block} {block cardBody}
<div n:tag="$element->getHtmlTag()" id="{$element->getIdAttribute()}">
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
  <div class="row">
    <div class="col-3">
      <div class="blockelem create-flowy noselect">
        <input
          type="hidden"
          name="blockelemtype"
          class="blockelemtype"
          value="1"
        />
        <div class="grabme"></div>
        <div class="card card-flush shadow-sm blockin" style="cursor: grab">
          <div class="card-header">
            <h3 class="card-title">Title</h3>
            <div class="card-toolbar">
              <button type="button" class="btn btn-sm btn-light">Action</button>
            </div>
          </div>
          <div class="card-body">
            Triggers when somebody performs a specified action
          </div>
        </div>
      </div>
      <div class="blockelem create-flowy noselect">
        <input
          type="hidden"
          name="blockelemtype"
          class="blockelemtype"
          value="1"
        />
        <div class="grabme"></div>
        <div class="card card-flush shadow-sm blockin" style="cursor: grab">
          <div class="card-header">
            <h3 class="card-title">Title</h3>
            <div class="card-toolbar">
              <button type="button" class="btn btn-sm btn-light">Action</button>
            </div>
          </div>
          <div class="card-body">
            Triggers when somebody performs a specified action
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-9 bg-light-dark card card-dashed card-stretch"
      style="
        overflow: auto;
        z-index: 0;
        position: absolute;
        width: calc(100% - 361px);
        height: calc(100% - 71px);
        top: 71px;
        left: 361px;
      "
    >
      <div id="{$element->getIdAttribute()}_wrapper"></div>
    </div>
  </div>
</div>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
