<nav
  id="navbar-header"
  class="
    navbar
    fixed-top
    navbar-expand-lg navbar-light
    bg-light
    animate__animated animate__fadeInDown
    shadow-sm
    py-4
  "
>
  <div class="container-fluid">
    <!-- Collapse -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#header-navbar"
      aria-controls="header-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="header-navbar">
      <!-- Brand -->
      <a href="/">
        <img
          alt="Logo Allteam"
          src="/images/logo-color-01-notitle.png"
          class="h-30px d-none d-lg-block"
        />
      </a>

      <!-- Left -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            data-router-disabled
            data-scroll="#features"
            style="cursor: pointer"
          >
            <span>{=_("Features")}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-router-disabled
            data-scroll="#infos"
            style="cursor: pointer"
          >
            <span>{=_("Informations")}</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            data-router-disabled
            data-scroll="#services"
            style="cursor: pointer"
          >
            <span>{=_("Services")}</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            data-router-disabled
            data-scroll="#keys"
            style="cursor: pointer"
          >
            <span>{=_("Benefits")}</span>
          </a>
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            data-router-disabled
            data-scroll="#faq"
            style="cursor: pointer"
          >
            <span>{=("FAQ")}</span>
          </a>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav nav-flex-icons">
      <li class="nav-item">
        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group" role="group">
            <a
              n:if="$IS_CONNECTED"
              id="btn-home"
              data-router-disabled
              href="/panel"
              class="btn btn-light-primary btn-sm"
            >
              <span class="d-none d-lg-block"
                ><i class="fas fa-home"></i> {$CONNECTED_USER}</span
              >
            </a>

            <a
              n:if="!$IS_CONNECTED"
              data-router-disabled
              id="btn-signin"
              data-bs-toggle="modal"
              data-bs-target="#modal_panel"
              href="#"
              class="btn btn-light-primary btn-sm btn-signin"
            >
              <i class="d-lg-none fas fa-sign-in-alt mr-2"></i>
              <span class="d-none d-lg-block">{=_("Sign in")}</span>
            </a>

            <a
              n:if="!$IS_CONNECTED"
              id="btn-subscribe"
              data-bs-toggle="modal"
              data-bs-target="#modal_create_subscribe"
              class="btn btn-light-primary btn-sm btn-subscribe"
              href="#"
              data-router-disabled
            >
              <i class="d-lg-none fas fa-user mr-2"></i>
              <span class="d-none d-lg-block">{=_("Registration")}</span>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
