<!--begin::Aside-->
<div
  id="kt_aside"
  class="aside bg-primary"
  data-kt-drawer="true"
  data-kt-drawer-name="aside"
  data-kt-drawer-overlay="true"
  {syntax off} data-kt-drawer-activate="{default: true, lg: false}"
  data-kt-drawer-width="{default:'200px', '300px': '250px'}"{/syntax}
  data-kt-drawer-direction="start"
  data-kt-drawer-toggle="#kt_aside_toggler"
>
  <!--begin::Primary-->
  <div
    class="aside-primary d-flex flex-column align-items-center flex-row-auto"
  >
    <!--begin::Logo-->
    <div
      class="
        aside-logo
        d-flex
        flex-column
        align-items-center
        flex-column-auto
        py-4
        pt-lg-10
        pb-lg-7
      "
      id="kt_aside_logo"
    >
      <a href="/panel">
        <img
          alt="Logo"
          src="/images/logo-color-02-notitle.png"
          class="mh-50px"
        />
      </a>
    </div>
    <!--end::Logo-->
    <!--begin::Nav Wrapper-->
    <div
      class="
        aside-nav
        d-flex
        flex-column
        align-items-center
        flex-column-fluid
        pt-0
        pb-5
      "
      id="kt_aside_nav"
    >
      <!--begin::Nav scroll-->
      <div
        class="hover-scroll-y"
        data-kt-scroll="true"
        data-kt-scroll-height="auto"
        data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer"
        data-kt-scroll-wrappers="#kt_aside_nav"
        data-kt-scroll-offset="10px"
      >
        <!--begin::Nav-->


            {if isset($HTML_COMPONENTS['menus'])}
            <ul class="nav flex-column">

            <!-- START MENUS -->
            {foreach $HTML_COMPONENTS['menus'] as $element}
            {if $element->getLocation() === $element::SIDETOP}
            {include $element->getHtmlTemplate(), element =>
                $element}
            {/if}

            {/foreach}
            <!-- END MENUS -->
        </ul>
            {/if}


        <!--end::Nav-->
      </div>
      <!--end::Nav scroll-->
    </div>
    <!--end::Nav Wrapper-->
    <!--begin::Footer-->
    <div
      class="
        aside-footer
        d-flex
        flex-column
        align-items-center
        flex-column-auto
        py-5 py-lg-7
      "
      id="kt_aside_footer"
    >

      {if isset($HTML_COMPONENTS['menus'])}
      <ul class="nav flex-column">

      <!-- START MENUS -->
      {foreach $HTML_COMPONENTS['menus'] as $element}
      {if $element->getLocation() === $element::SIDEBOTTOM}
       {include
      $element->getHtmlTemplate(), element => $element}
      {/if}{/foreach}
      <!-- END MENUS -->
    </ul>
      {/if}

      <button class="btn btn-sm btn-icon btn-white btn-active-success position-absolute translate-middle start-100 end-0 bottom-0 shadow-sm d-none d-lg-flex" id="kt_aside_toggle" data-kt-toggle="true" data-kt-toggle-state="active" data-kt-toggle-target="body" data-kt-toggle-name="aside-minimize" title="{=_('Toggle menu')}">
        <!--begin::Svg Icon | path: icons/duotone/Navigation/Left-2.svg-->
        <span class="svg-icon svg-icon-2 rotate-180">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <polygon points="0 0 24 0 24 24 0 24"></polygon>
                    <rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1"></rect>
                    <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)"></path>
                </g>
            </svg>
        </span>
        <!--end::Svg Icon-->
    </button>

    </div>
    <!--end::Footer-->
  </div>
  <!--end::Primary-->
  <!--begin::Secondary-->
  <div class="aside-secondary d-flex flex-row-fluid bg-white">
    <!--begin::Workspace-->
    <div
      class="aside-workspace hover-scroll-y my-7 ps-5 pe-4 ps-lg-10 pe-lg-6"
      id="kt_aside_wordspace"
    >
      <!--begin::Tab Content-->
      <div class="tab-content">
        {if isset($HTML_COMPONENTS['menus'])}

        <!-- START MENUS -->
        {var $first = true}
        {foreach $HTML_COMPONENTS['menus'] as $element}
        {if $element->getLocation() === $element::SIDETOP}
        {foreach $element->getChilds() as $child}
        <div n:class="tab-pane, fade, $iterator->first && $first ? 'show active'" id="{$child->getIdAttribute()}">
         {include $child->getHtmlTemplate(), element => $child}
        </div>

       {/foreach}
       {var $first = false}
        {/if}
       {/foreach}
        <!-- END MENUS -->
        {/if}

      </div>
      <!--end::Tab Content-->
    </div>
    <!--end::Workspace-->
  </div>
  <!--end::Secondary-->
</div>
<!--end::Aside-->
