<nav
  id="navbar-header"
  class="
    navbar
    p-1
    fixed-top
    navbar-expand-lg
    scrolling-navbar
    navbar-dark
    mdb-color
    darken-3
    animate__animated animate__fadeInLeft
  "
>
  <!-- Collapse button -->
  <a
    n:ifset="$NO_MENU"
    data-router-disabled
    href="#"
    data-router-disabled
    data-activates="slide-out"
    class="btn px-3 m-1 button-collapse white-text"
  >
    <i class="fas fa-bars"></i>
  </a>
  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">
    <img src="/ressources/Logo_Allteam_2coul-01-24-24.png" />
    <span class="hide-litle-screen"> Allteam</span>
  </a>
  <div class="d-flex justify-content-end flex-grow-1">
    <div n:ifset="$today" class="p-2">
      <a
        data-router-disabled
        href="#"
        data-router-disabled
        class="btn p-2 white-text nav-link"
        >{$today}
      </a>
    </div>
    <div n:ifset="$DOWNLOAD_LINK" class="p-2">
      <a
        data-router-disabled
        aria-label="{=_('Save')}"
        data-toogle="tooltip"
        title="{=_('Save')}"
        data-placement="top"
        href="{$DOWNLOAD_LINK}"
        target="_blank"
        class="btn white-text p-2 btn-download nav-link"
      >
        <i class="fas fa-download"></i>
      </a>
    </div>

    <div n:ifset="$PDF_NAME" class="p-2">
      <a
        data-router-disabled
        aria-label="{=_('Pdf')}"
        data-toogle="tooltip"
        title="{=_('Pdf')}"
        data-placement="top"
        href="#"
        data-router-disabled
        data-name="{$PDF_NAME}"
        class="btn p-2 btn-pdf white-text nav-link"
      >
        <i class="fas fa-file-pdf-o"></i>
      </a>
    </div>
  </div>
</nav>
