{layout '../../layout/layout.component.html'} {varType
core\html\accordion\Accordion $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]} {var
$headerCss = "d-flex justify-content-between align-items-center"} {block
cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
>
  {$element->getTitle()}
</div>
{/block} {block cardBody}
<div id="{$element->getIdAttribute()}" class="panel-group">
  {foreach $element->getChilds() as $child} {include $child->getHtmlTemplate(),
  element => $child, iterator => $iterator} {/foreach}
</div>

<div n:if="$element->getVideo()" class="embed-responsive embed-responsive-4by3">
  <iframe
    class="embed-responsive-item"
    src="{$element->getVideo()}"
    allow="autoplay; encrypted-media"
    width="640"
    height="360"
  ></iframe>
</div>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
