{varType core\html\accordion\AccordionItem $element} {var $cardCss = "mb-3" }
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div class="accordion-item">
  <div class="accordion-header">
    <a
      href="#{$element->getIdAttribute()}"
      data-router-disabled
      data-parent="#{$element->getParent()->getIdAttribute()}"
      data-bs-toggle="collapse"
      class="accordion-button fs-4 fw-bold"
      n:attr="aria-expanded => $element->isExpanded()"
      n:tag-if="$element->isCollapsable()"
    >
      {$element->getTitle()}
    </a>
  </div>
  <div
    id="{$element->getIdAttribute()}"
    class="accordion-collapse collapse"
    data-bs-parent="#{$element->getParent()?->getIdAttribute()}"
  >
    <div class="accordion-body">
      <ul class="list-group-flush">
        {foreach $element->getChilds() as $child }
        <li class="list-group-item" n:ifcontent>
          <p n:ifcontent class="fw-bold mb-1">{$child->title}</p>
          <span n:ifcontent>{$child->text}</span>
        </li>
        {/foreach}
      </ul>
    </div>
  </div>
  <!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
</div>
