{layout '../../layout/layout.component.html'} {varType
core\html\chart\BasicChart $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]} {block
cardBody}

<div n:tag="$element->getHtmlTag()" id="{$element->getIdAttribute()}">
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>

  <canvas
    style="max-width: {$element->getWidth()}px;"
    id="{$element->getIdAttribute()}_component"
  ></canvas>
</div>

{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
