{layout '../../layout/layout.component.html'} {varType
core\html\chart\MinimalistChart $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]} {block
cardBody}

<div
  n:tag="$element->getHtmlTag()"
  id="{$element->getIdAttribute()}"
  class="col"
>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
  <span
    class="min-chart"
    id="{$element->getIdAttribute()}"
    data-percent="{$element->getPercent()}"
    ><span class="percent"></span
  ></span>
  <h5 class="title h5" n:ifcontent>
    <span class="label {$element->getLabelColor()}">
      {$element->getLabel()}
      <i class="fas {$element->getLabelIcon()}"></i>
    </span>
  </h5>
</div>

{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
