<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<li class="list-group-item" n:ifcontent>
  <a
    class="subscribe-button"
    n:tag-if="$element->getLink()"
    href="$element->getLink()"
  >
    <em n:ifcontent>{$element->getQuantity()}</em>
    <span class="text-muted small" n:ifcontent>{$element->getFeature()}</span>
  </a>
</li>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
