{layout '../../../layout/layout.component.html'}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $cardCss = "h-100"} {var $attributes = ["id" => 'parent-'.
$element->getIdAttribute()]} {var $bodyCss = "text-center p-2"}{var $headerCss =
"justify-content-center p-4"} {var $footerCss = "text-center"}{block cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
>
  {$element->getSubtitle()}
</div>
{/block} {var $titleCss = "pricing-card-title" } {block cardTitle}
{$element->getPrice()} €
<span class="text-muted pull-right small">/ {$element->getDuration()}</span>
{/block} {block cardBody}

<ul class="list-group-flush pt-2 mt-2 mb-2">
  {foreach $element->getChilds() as $feature} {include
  $feature->getHtmlTemplate(), element => $feature} {/foreach}
</ul>

{/block} {block cardFooter}
<a
  n:attr='href => $element->getLink()[0] ?? "#", rel => "noopener"'
  class="btn btn-light-primary"
  >{$element->getLink()[1]}</a
>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
