<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div n:ifcontent class="row p-8" id="{$element->getIdAttribute()}">
  {foreach $element->getChilds() as $column}
  <div class="col">
    {include $column->getHtmlTemplate(), element => $column, iterator =>
    $iterator}
  </div>
  {/foreach}
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
