{varType core\html\carousel\Carousel $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->

<div
  id="{$element->getIdAttribute()}"
  class="carousel slide carousel-fade"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    {foreach $element->getChilds() as $child} {varType
    core\html\carousel\CarouselItem $child} {include $child->getHtmlTemplate(),
    element => $child, iterator => $iterator} {/foreach}
  </div>
  {if $element->hasButtons()}
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#{$element->getIdAttribute()}"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{=_('Previous')}</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#{$element->getIdAttribute()}"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{=_('Next')}</span>
  </button>
  {/if}
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
