<div n:class="$pageCss ?? null" data-router-view="{$PAGE}">
  {block pagePrepend}<span id="title-page" style="display: none">{$PAGE}</span>
  <span n:ifset="$COMMANDS" id="default-commands" style="display: none"
    >{$COMMANDS}</span
  >
  {/block} {block pageBody}{/block} {block pageAppend}{include
  "../utils/csrf.token.html"} {include "../utils/jwt.token.html"} {include
  "../utils/socket.channels.html"} {if isset($MODALS)} {foreach $MODALS as
  $element} {include $element->getHtmlTemplate(), element => $element}
  {/foreach} {/if}{/block}
</div>
