<div
  n:ifcontent
  n:class="card, card-flush, shadow-sm, card-rounded-10, mb-12, $cardCss ?? null"
  n:attr="$attributes ?? []"
>
  {block cardPrepend}{/block}
  <img
    n:ifset="$topImage"
    n:attr="src => $topImage, alt => $alt"
    n:class="card-img-top, lazyload, $imgCss ?? null"
  />

  <span n:ifset="$icon" class="text-center p-2">
    <i class="$icon"></i>
  </span>

  <!-- Header start -->
  <div
    n:ifcontent
    n:class="card-header, card-header-stretch, d-flex, align-items-center , $headerCss ?? null, isset($element) && $element->hasParent() && $element->getParent()->isA('Modal') ? sticky-top"
    style="padding-top: 0% !important"
  >
    {block cardPrevious} {if isset($element)}
    <div
      class="p-2"
      n:if="isset($element) && $element->getParent() && $element->getParent()->isA('Modal')"
    >
      <button
        id="previous-button-{$element->getParent()->getIdAttribute()}"
        type="button"
        class="btn btn-sm btn-light-primary previous pulse pulse-primary"
        onclick="window.history.back();"
      >
        <i class="fas fa-arrow-left"></i>
        <span class="pulse-ring invisible"></span>
      </button>
    </div>
    {/if} {/block} {block cardHeader}{/block}
    <div n:ifcontent n:class="card-toolbar, $toolbarCss ?? null">
      {block cardSpinner} {if isset($element)}
      <div class="p-2 mx-2" n:if="(isset($enableSpinner) && $enableSpinner)">
        <div
          id="spinner-{$element->getIdAttribute()}"
          class="spinner-border text-primary invisible"
          role="status"
        >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      {/if} {/block} {block cardToolbar}{if isset($toolbar) && $toolbar !=
      null}{include $toolbar->getHtmlTemplate(), element =>
      $toolbar}{/if}{/block}
    </div>
  </div>
  <!-- Header end-->
  <!-- Body start-->
  <div n:ifcontent n:class="card-body, $bodyCss ?? null">
    <span n:ifset="$subIcon" class="text-center">
      <i n:class="$subIcon"></i>
    </span>

    <h4 n:ifcontent n:class="card-title, h4, $titleCss ?? null">
      {block cardTitle}{/block}
    </h4>
    <h5 n:ifcontent n:class="card-subtitle, h5, $subtitleCss ?? null">
      {block cardSubtitle}{/block}
    </h5>
    <p n:ifcontent n:class="card-text, $textCss ?? null">
      {block cardText}{/block}
    </p>
    {block vueComponent} {if isset($element)}
    <div
      n:if="$element && $element->isVueComponent()"
      id="{$element->getIdAttribute()}_vuapp"
    >
      <div
        n:tag="$element->getHtmlTag()"
        id="{$element->getIdAttribute()}_vuecomponent"
        class="border rounded jss_modern"
        n:attr="$element->getVueConfig()"
      ></div>
    </div>
    {/if} {/block} {block cardBody}{/block}
    <a
      n:ifset="$link"
      n:attr='href => $href ?? "#", rel => $rel ?? "noopener", target => $target ?? "_blank"'
      n:class="btn, $linkCss ?? null"
      >{$link}</a
    >
  </div>
  <!-- Body end-->

  <!-- Footer start -->
  <div n:class="card-footer, p-3, $footerCss ?? null" n:ifcontent>
    {block cardFooter}{/block}
  </div>
  <!-- Footer end -->

  {block cardAppend}{/block}
</div>
