<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->

<li n:class="list-group-item, $element->stringifyClasses()">
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
  <span n:if="$element->getBadge()" class="badge badge-primary badge-pill">
    {$element->getBadge()}
  </span>
  {$element->getContent()} {foreach $element->getChilds() as $child} {include
  $child->getHtmlTemplate(), element => $child, iterator => $iterator}
  {/foreach}
</li>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
