{layout './FormElement.html'} {varType core\html\form\elements\AddressElement
$element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block} {block formElementInput}
<input
  n:attr="form => $element->getParent()?->getIdAttribute(),
    autocomplete => $element->getAutocomplete(),
    placeholder => $element->getLabel(),
    required => $element->isRequired(),
    value => $element->getValue(),
    title => $element->getLabel(),
    disabled => $element->isDisabled()"
  type="text"
  id="{$element->getIdAttribute()}_input"
  name="{$element->getName()}"
  n:class="form-control, border-dashed, $element->getIcon() ? rounded-end : rounded, $element->stringifyClasses()"
/>
<div
  id="{$element->getIdAttribute()}-search"
  class="py-5"
  style="display: none"
></div>
{/block} {block formElementAfter}
<input id="{$element->getIdAttribute()}-latlng" type="hidden" value="" />
<div
  class="border mt-3 mb-3 border border-dashed"
  style="height: 500px"
  id="{$element->getIdAttribute()}-map"
></div>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
