{varType core\html\form\elements\ButtonElement $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div
  n:class="mb-3, $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
  id="parent-{$element->getIdAttribute()}"
>
  <button
    type="button"
    id="{$element->getIdAttribute()}_input"
    n:attr="$element->getFormatedDataAttributes()"
    n:class=" btn, $element->stringifyClasses(), pulse, pulse-primary"
  >
    <label class="hide-litle-screen" n:ifcontent>
      <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
      {$element->getLabel()}
    </label>
    <span class="pulse-ring invisible"></span>
  </button>
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
