{varType core\html\form\elements\CalendarElement $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<small class="form-text text-muted" n:if="$element->getHelp()">
  <i class="fas fa-question-circle"></i>{$element->getHelp()}
</small>
<div
  n:class=" mb-3,  $element->stringifyClasses(), $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
  id="parent-{$element->getIdAttribute()}"
>
  <input
    n:attr="form => $element->getParent()?->getIdAttribute(),
    autocomplete => $element->getAutocomplete(),
    value => $element->getValue(),
    data-calendar => $element->getValue()"
    type="hidden"
    id="{$element->getIdAttribute()}_input"
    class="calendar-form-element"
  />

  <input
    n:attr="form => $element->getParent()?->getIdAttribute()"
    type="hidden"
    id="{$element->getViewReference()}_{$element->getValue()}_datas"
    name="{$element->getName()}"
    value=""
  />
  {var $table = $element->getChilds()[0]} {if isset($table)} {include
  $table->getHtmlTemplate(), element => $table} {/if}
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
