{varType core\html\form\elements\CguElement $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<small class="form-text text-muted" n:if="$element->getHelp()">
  <i class="fas fa-question-circle"></i>{$element->getHelp()}
</small>
<div
  n:class="form-floating, mb-3,  $element->stringifyClasses(), $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
  id="parent-{$element->getIdAttribute()}"
>
  <div class="form-group shadow-textarea">
    <textarea
      n:attr="form => $element->getParent()?->getIdAttribute()"
      id="{$element->getIdAttribute()}_input"
      class="form-control border-dashed rounded"
      rows="5"
    >
 {$element->getValue()}
		</textarea
    >
  </div>
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
