<div class="chat-box-single-line">
  <abbr class="timestamp"
    ><i class="fas fa-clock fa-fw"></i> {$element->getDate()}</abbr
  >
</div>
<!-- Message. Default to the left -->
<div class="direct-chat-msg doted-border">
  <div class="direct-chat-info clearfix">
    <span class="direct-chat-name pull-left"
      >{$element->getFormatedName()}</span
    >
  </div>
  <!-- /.direct-chat-info -->
  <div class="direct-chat-text">{$element->getMessage()}</div>
  <!-- /.direct-chat-text -->
</div>
