{layout './FormElement.html'} {varType
core\html\form\elements\ColorPickerElement $element} {block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block}{block formElementInput}

<input
  n:attr="form => $element->getParent()?->getIdAttribute(),
          autocomplete => $element->getAutocomplete(),
          placeholder => $element->getLabel(),
          required => $element->isRequired(),
          value => $element->getValue(),
          title => $element->getLabel(),
          disabled => $element->isDisabled(),
          data-inputmask => $element->getMask()"
  type="text"
  id="{$element->getIdAttribute()}_input"
  name="{$element->getName()}"
  n:class="form-control, border-dashed, $element->getIcon() ? rounded-end : rounded, color-picker"
/>
{/block}
