<th>
  <div class="form-floating">
    <i class="fas fa-times"></i>
  </div>
</th>
<th>
  <div class="form-floating">
    <!--<select name="{$name}[{$key}][price]" id="{$id}-select" class="browser-default custom-select colorful-select dropdown-dark"
        searchable="Search here..">
</select> -->
    <input
      type="number"
      id="paht-{$id}"
      class="form-control border-dashed rounded"
      name="{$name}[{$key}][paht]"
      value="{$paht}"
    />
    <label class="active">Prix d'achat HT</label>
  </div>
</th>
<th>
  <div class="form-floating">
    <input
      type="number"
      id="pvht-{$id}"
      class="form-control border-dashed rounded"
      name="{$name}[{$key}][pvht]"
      value="{$pvht}"
    />
    <label class="active">Prix de vente HT</label>
  </div>
</th>
<th>
  <div class="row">
    <div class="col select-outline" style="max-height: 84px">
      <div class="form-floating">
        <select
          name="{$name}[{$key}][vat]"
          id="{$id}-select"
          class="mdb-select w-100 colorful-select dropdown-dark"
          searchable="Search here.."
        >
          <option {$vat1-021} value="1.021">TVA 2,1%</option>
          <option {$vat1-055} value="1.055">TVA 5,5%</option>
          <option {$vat1-1} value="1.1">TVA 10%</option>
          <option {$vat1-2} value="1.2">TVA 20%</option>
        </select>
        <label class="active">TVA</label>
      </div>
    </div>
  </div>
</th>
<div id="global-actionBar-{$id}-container" style="display: none"></div>
<!--<div class=">

    <i class="fas fa-arrow-right"></i>

</div>
<div class=">

    <input type="text" id="result-{$id}" class="form-control border-dashed rounded" value="" disabled>

</div> -->
