<tr id="{$id}">
  <th scope="row">
    <!--ID : {$id}<br>
        Value : {$value}<br>
        Name = {$name}<br>
        Count = {$count}<br>-->
    <div class="form-floating">
      <input
        type="number"
        name="{$name}[{$key}][quantity]"
        class="form-control border-dashed rounded quantity-multilist"
        value="{$count}"
      />
      <label class="active">Quantité</label>
      <input
        type="hidden"
        name="{$name}[{$key}][id]"
        class="form-control border-dashed rounded"
        value="{$ressourceid}"
      />
    </div>
  </th>
  <th>
    <div class="form-floating">
      <i class="fas fa-times"></i>
    </div>
  </th>
  <th>
    <div class="form-floating">
      <input
        type="hidden"
        value="{$value}"
        class="form-control border-dashed rounded"
      />
      <span class="badge badge-success">{$value}</span>
    </div>
  </th>
  <!--template to append-->
  <th>
    <div class="form-floating p-2">
      <button
        id="{$id}_btn"
        class="
          btn btn-light-danger btn-sm
          px-3
          m-0
          btn-multilist-delete
          pulse pulse-primary
        "
        type="button"
      >
        <i class="fas fa-times"></i>
        <span class="pulse-ring invisible"></span>
      </button>
    </div>
  </th>
</tr>
