<th>
  <div class="form-floating">
    <i class="fas fa-times"></i>
  </div>
</th>
<th>
  <div class="form-floating">
    <input
      type="number"
      name="{$name}[{$key}][buy]"
      class="form-control border-dashed rounded"
      value="{$buy}"
    />
    <label class="active">Prix d'achat HT</label>
  </div>
</th>
<th>
  <div class="form-floating">
    <input
      type="number"
      name="{$name}[{$key}][sell]"
      class="form-control border-dashed rounded"
      value="{$sell}"
    />
    <label class="active">Prix de vente HT</label>
  </div>
</th>
