<th>
  <div class="form-floating" id="{$name}{$key}start_div">
    <i class="fas fa-calendar prefix"></i>
    <input
      type="text"
      class="form-control border-dashed rounded datepicker-custom"
      id="{$name}{$key}start"
      name="{$name}[{$key}][start]"
      value="{$end}"
    />
    <label id="{$name}{$key}start_lbl" for="{$name}{$key}start">Début</label>
  </div>
</th>
<th>
  <div class="form-floating" id="{$name}{$key}end_div">
    <i class="fas fa-calendar prefix"></i>
    <input
      type="text"
      class="form-control border-dashed rounded datepicker-custom"
      id="{$name}{$key}end"
      name="{$name}[{$key}][end]"
      value="{$end}"
    />
    <label id="{$name}{$key}end_lbl" for="{$name}{$key}end">Fin</label>
  </div>
</th>
