{varType core\html\form\elements\DatatableElement $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div
  n:class="form-floating, mb-3,  $element->stringifyClasses(), $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
  id="parent-{$element->getIdAttribute()}"
>
  <input
    n:attr="form => $element->getParent()?->getIdAttribute(),
    autocomplete => $element->getAutocomplete(),
    value => $element->getValue(),
    data-datatable => $element->getValue()"
    type="hidden"
    id="{$element->getIdAttribute()}_input"
    class="datatable-form-element"
  />
  <small class="form-text text-muted" n:if="$element->getHelp()">
    <i class="fas fa-question-circle"></i>{$element->getHelp()}
  </small>
  <input
    n:attr="form => $element->getParent()?->getIdAttribute()"
    type="hidden"
    id="{$element->getViewReference()}_{$element->getValue()}_datas"
    name="{$element->getName()}"
    value=""
  />
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
