{layout './FormElement.html'} {varType core\html\form\elements\DateElement
$element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{define startDate}
<input
  n:attr="form => $element->getParent()?->getIdAttribute(),
  autocomplete => $element->getAutocomplete() ? on : off,
  required => $element->isRequired(),
  value => $element->getValue(),
  title => $element->getLabel(),
  disabled => $element->isDisabled(),
  data-inputmask => $element->getMask(),
  placeholder => $element->getPlaceholder()"
  type="text"
  id="{$element->getIdAttribute()}_input"
  name="{$element->getName()}"
  n:class="form-control, border-dashed, $element->getIcon() ? rounded-end : rounded"
  value="{$element->getValue()}"
/>
{/define}

<div
  class="d-flex justify-content-center"
  id="{$element->getIdAttribute()}_container"
></div>

{block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block} {block formElementInput} {include startDate} {/block}

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
