{varType core\html\form\elements\DatetimerangeElement $element} {var $elementTag
= (isset($inline)) ? 'th' : 'div'} {var $start = ""} {var $end = ""} {if
is_array($element->getValue())} {$value = $element->getValue()} {var $start =
$value['start']} {var $end = $value['end']} {/if} {define startDatetimerange}
<input
  n:attr="form => $element->getParent()?->getIdAttribute(),
          autocomplete => $element->getAutocomplete() ? on : off,

          required => $element->isRequired(),
          disabled => $element->isDisabled(),
          data-inputmask => $element->getMask(),
          placeholder => $element->getPlaceholder()"
  id="start_{$element->getIdAttribute()}"
  placeholder="__/__/____"
  class="form-control border-dashed rounded-start"
  type="text"
  name="start"
  value="{$start}"
/>
<div id="start_parent-{$element->getIdAttribute()}"></div>
<small class="form-text text-muted"> </small>
{/define} {define endDatetimerange}
<input
  n:attr="form => $element->getParent()?->getIdAttribute(),
          autocomplete => $element->getAutocomplete() ? on : off,

          required => $element->isRequired(),
          disabled => $element->isDisabled(),
          data-inputmask => $element->getMask(),
          placeholder => $element->getPlaceholder()"
  id="end_{$element->getIdAttribute()}"
  placeholder="__/__/____"
  class="form-control border-dashed rounded-end"
  type="text"
  name="end"
  value="{$end}"
/>
<div id="end_parent-{$element->getIdAttribute()}"></div>
<small class="form-text text-muted"> </small>
{/define}

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->

<input
  n:attr="form => $element->getParent()?->getIdAttribute()"
  type="hidden"
  class="v-datetimerange"
  name="{$element->getName()}"
  id="{$element->getIdAttribute()}_input"
/>

<small class="form-text text-muted" n:if="$element->getHelp()">
  <i class="fas fa-question-circle"> - </i> {$element->getHelp()}
</small>
<div
  id="parent-{$element->getIdAttribute()}"
  n:class="input-group, mb-3, $formElementParentCss ?? null"
>
  <span class="input-group-text border-dashed" n:ifcontent>
    <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
  </span>

  <div
    n:tag="$elementTag"
    n:class="form-floating,flex-fill,  $element->stringifyClasses(), $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
  >
    {include startDatetimerange}

    <label
      n:ifcontent
      id="{$element->getIdAttribute()}_lbl"
      n:class="$element->isRequired() ? 'animate__animated animate__heartBeat required', !isset($inline) ? active"
      for="start_{$element->getIdAttribute()}"
    >
      {$element->getLabel()} {=_('Start')}
    </label>
  </div>

  <span class="input-group-text border-dashed" n:ifcontent>
    <i class="fas fa-arrow-right"></i>
  </span>

  <div
    n:tag="$elementTag"
    n:class="form-floating,flex-fill,  $element->stringifyClasses(), $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
  >
    {include endDatetimerange}

    <label
      n:ifcontent
      id="{$element->getIdAttribute()}_lbl"
      n:class="$element->isRequired() ? 'animate__animated animate__heartBeat required', !isset($inline) ? active"
      for="end_{$element->getIdAttribute()}"
    >
      {$element->getLabel()} {=_('End')}
    </label>
  </div>
</div>

<div
  class="d-flex justify-content-center"
  id="{$element->getIdAttribute()}_container"
></div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
