{layout './FormElement.html'} {varType core\html\form\elements\FileinputElement
$element} {block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block} {block formElementInput}
<input
  n:attr="form => $element->getParent()?->getIdAttribute(), required =>
  $element->isRequired(), title => $element->getLabel(), disabled =>
  $element->isDisabled(), id=> $element->getIdAttribute(),
  data-name=>$element->getName(),accept => $element->getFiletype()"
  type="file"
  n:class="form-control, border-dashed, text-black-50, $element->getIcon() ? rounded-end : rounded, upload, file-loading, $element->stringifyClasses()"
  multiple
  id="{$element->getIdAttribute()}_input"
  style="display: none !important"
/>{/block}

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
