<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{block formElementHelp}
<small class="form-text text-muted" n:if="$element->getHelp()">
  <i class="fas fa-question-circle"> - </i> {$element->getHelp()}
</small>
{/block} {block vueComponent}
<div n:if="$element->isVueComponent()" id="{$element->getIdAttribute()}_vuapp">
  <div
    n:tag="$element->getHtmlTag()"
    id="{$element->getIdAttribute()}_vuecomponent"
    n:attr="$element->getVueConfig()"
  ></div>
</div>

{/block}
<div
  n:attr="$element->getFormatedDataAttributes()"
  n:tag="$element->getHtmlTag()"
  id="{$element->getIdAttribute()}"
>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
  <div n:class="input-group, $formElementParentCss ?? null">
    {block formElementPrepend}{/block}
    <div
      n:class="form-floating, flex-fill, $element->stringifyClasses(), $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
    >
      {block formElementInput} {/block}{block formElementLabel}
      <label
        n:ifcontent
        id="{$element->getIdAttribute()}_lbl"
        n:class="$element->isRequired() ? 'animate__animated animate__heartBeat required'"
        for="{$element->getIdAttribute()}_input"
      >
        {$element->getLabel()}
      </label>
      {/block}
    </div>
    {block formElementAppend}{/block}
  </div>
</div>
{block formElementAfter}{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
