{layout './FormElement.html'} {varType
core\html\form\elements\MentionableElement $element} {block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block}

<input
  n:attr="form => $element->getParent()?->getIdAttribute()"
  type="hidden"
  name="{$element->getName()}_tag"
  id="{$element->getIdAttribute()}_inputbox"
/>

{block formElementInput}
<textarea
  n:attr="form => $element->getParent()?->getIdAttribute(),
    placeholder => $element->getLabel(),
    required => $element->isRequired()"
  id="{$element->getIdAttribute()}_input"
  name="{$element->getName()}"
  class="mentionable form-control border-dashed rounded"
  style="resize: vertical; height: 100px"
>
{$element->getValue()}</textarea
>{/block}
