{varType core\html\form\elements\MultipleemailElement $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
<div
  n:class="form-floating, mb-3,  $element->stringifyClasses(), $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
  id="parent-{$element->getIdAttribute()}"
>
  <input
    n:attr="form => $element->getParent()?->getIdAttribute(),
    value => $element->getValue(),
    disabled => $element->isDisabled(),
    data-label => $element->getLabel()"
    type="hidden"
    id="{$element->getIdAttribute()}_input"
    name="{$element->getName()}"
    class="form-control border-dashed rounded chiped"
  />
  <label
    n:ifcontent
    id="{$element->getIdAttribute()}_lbl"
    n:class="$element->isRequired() ? 'animate__animated animate__heartBeat required'"
    for="{$element->getIdAttribute()}_input"
  >
    {$element->getLabel()}
  </label>
  <small class="form-text text-muted" n:if="$element->getHelp()">
    <i class="fas fa-question-circle"></i>{$element->getHelp()}
  </small>
  <div
    id="{$element->getIdAttribute()}_chips"
    class="chips chips-placeholder"
  ></div>
</div>

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
