{layout './FormElement.html'} {varType
core\html\form\elements\MultiselectElement $element} {block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block} {block formElementInput}
<select
  n:class="form-select, select2--large, form-select-lg, border-dashed, text-black-50, $element->getBtn() ? rounded-start : rounded-top"
  n:attr="form => $element->getParent()?->getIdAttribute(),
                      $element->getFormatedDataAttributes(),
                      disabled => $element->isDisabled(),
                      data-dropdown-parent => $element->hasParent() ? $element->getParent()?->getIdAttribute()"
  name="{$element->getName()}[]"
  id="{$element->getIdAttribute()}_input"
  multiple
>
  {if $element->getSelectFilter() !== null}

  <optgroup
    n:foreach="$element->getSelectFilter() as $k => $group"
    label="{$group['group']}"
  >
    <option
      n:if="$el['group'] === $group['constant']"
      n:foreach="$element->getOptions() as $el"
      n:attr="value => $el['value'],
								selected => $element->getValue() === $el.value,
								$el.data"
    >
      {var $option = $el['value']}
      <span
        n:if="!is_null($element->getActionBar($option))"
        id="actionBar_{$element->getIdAttribute()}{$option}"
        style="display: none"
      >
        {var $actionBar = $element->getActionBar($option)} {foreach
        $actionBar->getButtons() as $button} {include
        $button->getHtmlTemplate(), element => $button} {/foreach} {foreach
        $actionBar->getFields() as $field} {include $field->getHtmlTemplate(),
        element => $field} {/foreach}
      </span>
      {$el['name']}
    </option>
  </optgroup>
  {else} {if $element->getOptions() !== null}
  <option
    n:foreach="$element->getOptions() as  $name => $value"
    n:attr="value => $value,
			selected => $element->getValue() === $value"
  >
    <span
      n:if="!is_null($element->getActionBar($value))"
      id="actionBar_{$element->getIdAttribute()}{$value}"
      style="display: none"
    >
      {var $actionBar = $element->getActionBar($value)} {foreach
      $actionBar->getButtons() as $button} {include $button->getHtmlTemplate(),
      element => $button} {/foreach} {foreach $actionBar->getFields() as $field}
      {include $field->getHtmlTemplate(), element => $field} {/foreach}
    </span>
    {$name}
  </option>
  {/if} {/if}
</select>
{/block} {block formElementAppend}
<button
  n:if="$element->getBtn()"
  id="{$element->getIdAttribute()}_btn_create"
  class="btn btn-sm btn-outline btn-outline-dashed btn-outline-success pulse pulse-primary"
  type="button"
  data-bs-toggle="modal"
  data-bs-target="#modal_create_{$element->getBtn()}"
  tabindex="-1"
>
  <i id="{$element->getIdAttribute()}_btn_create_icon" class="fas fa-plus"></i>
  {=_("New")}
  <span class="pulse-ring invisible"></span>
</button>
<!--<button
  n:if="$element->getBtn()"
  id="{$element->getIdAttribute()}_btn_validate"
  class="btn btn-sm btn-outline btn-outline-dashed btn-outline-primary"
  type="button"
  tabindex="-1"
>
  <i
    id="{$element->getIdAttribute()}_btn_validate_icon"
    class="fas fa-check"
  ></i>
  {=_("Validate")}
</button>-->
<!-- TODO replace by action bar end-->
{/block}
