{layout './FormElement.html'} {varType core\html\form\elements\PasswordElement
$element} {block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block} {block formElementInput}
<div data-kt-password-meter="true">
  <input
    n:attr="form => $element->getParent()?->getIdAttribute(),
        autocomplete => $element->getAutocomplete(),
        placeholder => $element->getLabel(),
        required => $element->isRequired(),
        value => $element->getValue(),
        title => $element->getLabel(),
        disabled => $element->isDisabled(),
        data-inputmask => $element->getMask()"
    type="password"
    id="{$element->getIdAttribute()}_input"
    name="{$element->getName()}"
    n:class="form-control, border-dashed, $element->getIcon() ? rounded-end : rounded, $element->stringifyClasses()"
  />
  <span
    class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
    data-kt-password-meter-control="visibility"
  >
    <i class="fas fa-eye-slash fs-2"></i>

    <i class="fas fa-eye fs-2 d-none"></i>
  </span>
  <div
    id="{$element->getIdAttribute()}_pwstrength_viewport_progress"
    class="d-flex align-items-center"
    data-kt-password-meter-control="highlight"
  >
    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
    <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
  </div>
</div>
{/block} {block formElementLabel}{/block}
