{layout './FormElement.html'} {varType
core\html\form\elements\PlurimultilistElement $element} {block
formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block} {block formElementInput}
<select
  n:class="form-select, form-select-lg, border-dashed, text-black-50, $element->getBtn() ? rounded-start : rounded"
  n:attr="form => $element->getParent()?->getIdAttribute(),
                            $element->getFormatedDataAttributes(),
                            disabled => $element->isDisabled(),
                            name => $element->getName(),
                            data-dropdown-parent => $element->hasParent() ? $element->getParent()?->getIdAttribute()"
  id="{$element->getIdAttribute()}_input"
>
  {if $element->getSelectFilter() !== null}

  <optgroup
    n:foreach="$element->getSelectFilter() as $k => $group"
    label="{$group['group']}"
  >
    <option
      n:if="$el['group'] === $group['constant']"
      n:foreach="$element->getOptions() as $el"
      n:attr="value => $el['value'],
                                    selected => $element->getValue() === $el.value,
                                    $el.data"
    >
      {$el['name']}
    </option>
  </optgroup>
  {else}
  <option
    n:foreach="$element->getOptions() as  $name => $value"
    n:attr="value => $value,
                                    selected => $element->getValue() === $value"
  >
    {$name}
  </option>
  {/if}
</select>
{/block} {block formElementAppend}

<button
  n:if="$element->getBtn()"
  id="{$element->getIdAttribute()}_btn_create"
  class="btn btn-sm btn-light-success pulse pulse-primary"
  type="button"
  tabindex="-1"
>
  <i class="fas fa-plus"></i> {=_("New")}
  <span class="pulse-ring invisible"></span>
</button>

<button
  id="{$element->getIdAttribute()}_btn_create_child"
  class="btn btn-sm btn-default btn-light-primary pulse pulse-primary"
  type="button"
  tabindex="-1"
>
  <i class="fas fa-level-down-alt"></i> {=_("Validate")}
  <span class="pulse-ring invisible"></span>
</button>

{/block}

<input type="hidden" name="{$element->getName()}" value="1" />
<div
  id="global-actionBar-{$element->getIdAttribute()}-container"
  style="display: none"
>
  {foreach $element->getOptions() as $option} {var $option = (is_array($option))
  ? $option['value'] : $option}

  <span
    n:if="!is_null($element->getActionBar($option))"
    id="actionBar_{$element->getIdAttribute()}{$option}"
    style="display: none"
  >
    {var $actionBar = $element->getActionBar($option)} {foreach
    $actionBar->getButtons() as $button} {include $button->getHtmlTemplate(),
    element => $button} {/foreach} {foreach $actionBar->getFields() as $field}
    {include $field->getHtmlTemplate(), element => $field} {/foreach}
  </span>
  {/foreach}
</div>
<div class="row mb-3">
  <div class="col">
    <table class="table table-sm" id="{$element->getIdAttribute()}_list">
      <tbody>
        {foreach $element->getDefaultMultiChoice() as $key => $number} {var
        $tempname = "VOID"} {foreach $element->getOptions() as $name => $value }
        {var $tempname = ($value === $key) ? $name : $tempname} {/foreach} {var
        $elemid = $element->getIdAttribute()."_optn".$number."@index"} {var
        $elemname = $element->getName()."_id_".$key} {include
        $field::getBaseTemplateDir."component.plurimultilist.html", name =>
        $elemname, value => $tempname, id => $elemid, count => $number}
        {/foreach}
      </tbody>
    </table>
  </div>
</div>

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
