{varType core\html\form\elements\RichtextElement $element}
<div n:tag="$element->getHtmlTag()" id="{$element->getIdAttribute()}">
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
  <div
    id="{$element->getIdAttribute()}_wrapper"
    n:class="border-dashed, mb-3, rounded, $element->stringifyClasses()"
  >
    {$element->getValue()}
  </div>
  <input
    name="{$element->getName()}"
    type="hidden"
    style="resize: vertical; height: 200px"
    n:attr="form => $element->getParent()?->getIdAttribute(),
placeholder => $element->getLabel(),
required => $element->isRequired(),
title => $element->getLabel(),
disabled => $element->isDisabled()"
    value="{$element->getValue()}"
    id="{$element->getIdAttribute()}_input"
  />
</div>
