{layout './FormElement.html'} {varType core\html\form\elements\SignatureElement
$element} {block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block} {block formElementInput}
<input
  n:attr="form => $element->getParent()?->getIdAttribute(),
    autocomplete => $element->getAutocomplete(),
    placeholder => $element->getLabel(),
    required => $element->isRequired(),
    value => $element->getValue(),
    title => $element->getLabel(),
    disabled => $element->isDisabled()"
  type="text"
  id="{$element->getIdAttribute()}_input"
  name="{$element->getName()}"
  n:class="form-control, border-dashed, $element->getIcon() ? rounded-end : rounded, signaturefield, $element->stringifyClasses()"
/>{/block} {block formElementAppend}
<button
  type="button"
  aria-label="{=_('Clear')}"
  class="btn btn-sm btn-light-danger pulse pulse-primary"
  id="{$element->getIdAttribute()}-clear"
  data-toogle="tooltip"
  title="{=_('Clear')}"
  data-placement="top"
>
  <i id="{$element->getIdAttribute()}-clear_icon" class="fas fa-times"></i>
  {=_('Clear')}
  <span class="pulse-ring invisible"></span>
</button>
{/block} {block formElementAfter}
<div class="content-signature">
  <div
    id="{$element->getIdAttribute()}-parent"
    class="signatureparent z-depth-1 border mb-3 border"
    style="height: 200px"
  >
    <div id="{$element->getIdAttribute()}-signature" class="signature"></div>
  </div>
</div>
<div class="scrollgrabber"></div>
{/block}
