{layout './FormElement.html'} {varType core\html\form\elements\TextElement
$element} {var $formElementParentCss = 'mb-3 align-items-center'}{block
formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
<span id="{$element->getIdAttribute()}_min" class="badge badge-primary"
  >{$element->getMin()}</span
>
{/block} {block formElementInput}
<input
  n:attr="form => $element->getParent()?->getIdAttribute(),
              autocomplete => $element->getAutocomplete(),
          placeholder => $element->getLabel(),
            required => $element->isRequired(),
          value => $element->getValue(),
          title => $element->getLabel(),
          disabled => $element->isDisabled()"
  type="range"
  id="{$element->getIdAttribute()}_input"
  name="{$element->getName()}"
  min="{$element->getMin()}"
  max="{$element->getMax()}"
  n:class="form-control, border-dashed, $element->getIcon() ? rounded-end : rounded, $element->stringifyClasses()"
/>
{/block} {block formElementAppend}<span
  id="{$element->getIdAttribute()}_max"
  class="badge badge-primary"
  >{$element->getMax()}</span
>{/block}
