{varType core\html\form\elements\SwitchElement $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->

<small class="form-text text-muted" n:if="$element->getHelp()">
  <i class="fas fa-question-circle"></i>{$element->getHelp()}
</small>
<div
  n:class="form-switch ,form-check-lg, form-check, mb-3,  $element->stringifyClasses(), $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
  id="parent-{$element->getIdAttribute()}"
>
  <input
    n:attr="form => $element->getParent()?->getIdAttribute()"
    type="hidden"
    name="{$element->getName()}"
    value="0"
  />
  <input
    n:attr="form => $element->getParent()?->getIdAttribute(),
		checked => $element->getDefaultChoice()"
    type="checkbox"
    id="{$element->getIdAttribute()}_input"
    name="{$element->getName()}"
    value="{$element->getValue()}"
    n:class="form-switch, form-check-input, $element->stringifyClasses()"
  />

  <label
    for="{$element->getIdAttribute()}_input"
    n:ifcontent
    class="form-check-label px-2"
  >
    {$element->getLabel()}
  </label>
</div>
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
