<th class="m-0" data-nofilter="true">
  <div
    n:class="switch success-switch, $element->stringifyClasses(), $element->getSwitchGroup() ? $element->getSwitchGroupClass()"
    id="parent-{$element->getIdAttribute()}"
  >
    <label>
      <span class="badge badge-danger">Off</span>

      <input
        n:attr="form => $element->getParent()?->getIdAttribute(),
            name => $element->getName()"
        type="hidden"
        value="0"
      />
      <input
        n:attr="form => $element->getParent()?->getIdAttribute(),
            name => $element->getName(),
            checked => (element->getDefaultChoice())"
        type="checkbox"
        id="{$element->getIdAttribute()}_input"
        value="1"
        class="switchField"
      />
      <span class="lever"></span>
      <span class="badge badge-success">On</span>
    </label>
  </div>
</th>
