{layout './FormElement.html'} {varType core\html\form\elements\TagElement
$element} {block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block}
