{layout './FormElement.html'} {varType core\html\form\elements\TextareaElement
$element} {block formElementPrepend}
<span class="input-group-text border-dashed" n:ifcontent>
  <i n:if="$element->getIcon()" class="fas {$element->getIcon()}"></i>
</span>
{/block} {block formElementInput}
<textarea
  n:attr="form => $element->getParent()?->getIdAttribute(),
    placeholder => $element->getLabel(),
    required => $element->isRequired(),
    title => $element->getLabel(),
    disabled => $element->isDisabled()"
  type="text"
  id="{$element->getIdAttribute()}_input"
  name="{$element->getName()}"
  n:class="form-control, border-dashed, $element->getIcon() ? rounded-end : rounded, $element->stringifyClasses()"
  style="height: 100px"
  style="resize: vertical; height: 100px"
>
{$element->getValue()}</textarea
>{/block}
