i-colorpicker:not(:defined) {
}
.bcp-popover {
  max-width: none;
}

.bcp-popover .bcp-row {
  display: flex;
}

.bcp-popover .bcp-color {
  transition: all 0.1s ease-in-out;
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 20%;
  border: 1px solid #ddd;
  margin: 5px;
  cursor: pointer;
}

.bcp-popover .bcp-color.bcp-light {
  color: #000;
}

.bcp-popover .bcp-color.bcp-dark {
  color: #fff;
}

.bcp-popover .bcp-color:hover,
.bcp-popover .bcp-color.bcp-active {
  width: 30px;
  height: 30px;
  margin: 2px;
}

.bcp-popover .bcp-color.bcp-active {
  pointer-events: none;
}

.bcp-popover .bcp-color.bcp-active:after {
  content: '\2713';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 28px;
}
