i-select:not(:defined) {
}

.select2-selection__rendered {
  padding-top: calc(0.5rem + 2px) !important;
}

.select2-selection {
  min-height: calc(2em + (1rem + 2px)) !important;
}

.select2-select2-results__options {
  min-height: 150px !important;
}

.select2-selection__choice {
  font-size: 0.75rem !important;
  margin-top: 0.75rem !important;
}

.highlight {
  padding: 0 !important;
}

.ts-wrapper.form-control,
.ts-wrapper.form-select {
  height: 3.5rem !important;
}
