{layout '../../../layout/layout.component.html'} {varType
core\html\table\datatable\Datatable $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]}{var
$enableSpinner = true} {var $toolbar = $element->getActionBar()} {block
cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
  id="{$element->getIdAttribute()}_title"
>
  {$element->getTitle()}
</div>
{/block} {block vueComponent}
<div id="{$element->getIdAttribute()}_vuapp">
  <div
    n:tag="$element->getHtmlTag()"
    id="{$element->getIdAttribute()}_vuecomponent"
    class="border rounded jss_modern"
    n:attr="$element->getVueConfig()"
  >
    {foreach $element->getColumns() as $child}
    <div
      n:tag="$child->getHtmlTag()"
      id="{$child->getIdAttribute()}"
      n:attr="$child->getVueConfig()"
    ></div>

    {/foreach}
  </div>
</div>

{/block} {block cardBody}

<t-datatable id="{$element->getIdAttribute()}">
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
</t-datatable>

{/block}

<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
