{layout '../../layout/layout.component.html'} {varType
core\html\calendar\Calendar $element}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} Start -->
{var $attributes = ["id" => 'parent-'. $element->getIdAttribute()]} {var
$enableSpinner = true} {var $toolbar = $element->getActionBar()} {block
cardHeader}
<div
  class="card-title flex-fill text-muted fw-bolder text-uppercase"
  n:ifcontent
>
  {$element->getTitle()}
</div>
{/block} {block cardBody}

<div
  n:tag="$element->getHtmlTag()"
  class="calendar border mb-3 border"
  style="height: 500px"
  data-id="{$element->getDataId()}"
  id="{$element->getIdAttribute()}"
>
  <div id="{$element->getIdAttribute()}_wrapper"></div>
  <div
    class="component-config"
    style="display: none"
    n:if="!empty($element->toArray()) && null !== $element->getHtmlTag()"
  >
    {json_encode($element->toArray())}
  </div>
</div>
{/block}
<!-- {$element->getViewReference()} :: {$element->getIdAttribute()} End -->
